@media (max-width: 1200px) {}

@media (max-width: 992px) {

    .banner__title {
        font-size: 25px;
    }

    .banner__subtext {
        font-size: 30px;
    }

    .partners {
        &__item {
            margin-bottom: 20px;
        }
    }

    .registration__form {
        margin-bottom: 20px;
    }

    .registration__banner-img {
        max-width: 100%;
        width: 100%;
        height: 611px;
        overflow: hidden;
        border-radius: 30px;
        margin-top: 20px;
    }

    .registration__banner-text {
        position: absolute;
        top: 50%;
        right: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .registration__banner-title {
        font-family: "Euclid Circular A";
        font-size: 32px;
        font-weight: 700;
        line-height: 120%;
        color: #fff;
        max-width: 100%;
        width: 100%;
        text-align: center;
    }

    .registration__banner-subtext {
        font-family: "Euclid Circular A";
        font-size: 35px;
        font-weight: 700;
        line-height: 120%;
        color: #d8a40c;
        margin-bottom: 19px;
    }

    .registration__banner-link {
        font-family: "Euclid Circular A";
        font-size: 18px;
        font-weight: 450;
        line-height: 160%;
        color: #fff;
        position: relative;
        padding-left: 30px;
    }
}

@media (max-width: 850px) {
    .banner__img::after {
        content: none;
        right: auto;
    }

    .footer__wrapper {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }
}


@media (max-width: 660px) {

    .footer__wrapper {
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
        justify-content: center;
    }

    .footer__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 560px) {
    .banner__title {
        font-size: 17px;
    }

    .banner__subtext {
        font-size: 22px;
    }

    .banner__link {
        font-size: 15px;
    }
}


@media (max-width: 500px) {
    .questions__accardion-btn {
        font-size: 14px;

        &::after {
            top: 35px;
        }
    }

    .questions__accardion-item.active .questions__accardion-panel {
        padding-right: 20px;
    }
}

@media (max-width: 480px) {}

@media (max-width: 470px) {}


@media (max-width: 350px) {
    .title {
        font-size: 30px;
    }

    .questions__accardion-btn {
        &::after {
            content: none;
        }
    }

    .footer__item-btn {
        padding: 14px 30px;
    }
}

@media (max-width: 320px) {

    .registration__banner-title {
        font-size: 30px;
    }

    .registration__banner-subtext {
        font-size: 25px;
    }

    .registration__banner-link {
        font-size: 14px;
    }
}