@import 'node_modules/swiper/swiper-bundle';
@import 'node_modules/bootstrap/dist/css/bootstrap';
@import 'node_modules/magnific-popup/dist/magnific-popup';
@import 'node_modules/reset.css/reset';
@import '_fonts';


/**********************
    **********************
        VARIABLES
    **********************
**********************/
$black: #000;
$white: #fff;
$nav_title: #656565;

$text: #A3A3A3;
$title: #2F2F2F;
$bg: #FBFBFB;
$border_line: #DCDCDC;
$main: #091B49;
$social: #091B49;
$active: #FFBD00;

$font_ec: 'Euclid Circular A';
$font_ft: 'Futura PT';


/**********************
    **********************
        MIXINS
    **********************
**********************/
@mixin fontEc($fz, $fw, $lh, $fc) {
    font-family: $font_ec;
    font-size: $fz + px;
    font-weight: $fw;
    line-height: $lh;
    color: $fc;
}

@mixin fontFt($fz, $fw, $lh, $fc) {
    font-family: $font_ft;
    font-size: $fz + px;
    font-weight: $fw;
    line-height: $lh;
    color: $fc;
}

@mixin pseudo($url, $w, $h) {
    content: '';
    position: absolute;
    background-image: $url;
    background-size: cover;
    background-repeat: no-repeat;
    width: $w + px;
    height: $h + px;
}


/**********************
    **********************
        TEMPLATES
    **********************
**********************/

%btn {
    border-radius: 45px;
    border: 2px solid $active;
    color: $active;
    @include fontFt(17, 700, 160%, $active);
}


/**********************
    **********************
        GLOBAl
    **********************
**********************/
html {
    overflow-x: hidden;
}

.row {
    row-gap: 20px;
}

section:last-child {
    padding-bottom: 45px;
}

body {
    @include fontFt(16, 400, 1.2, $title);
    background: #f8f8f8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.footer {
    margin-top: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
}

.title {
    @include fontEc(45, 700, 120%, $title);
    width: 100%;
    text-align: center;
    margin-bottom: 38px;
    text-transform: uppercase;
}

.burger__btn {
    display: none;
    flex-direction: column;
    width: 40px;
    height: 40px;
    cursor: pointer;

    & span {
        display: block;
        width: 100%;
        height: 4px;
        background: $black;
        margin-bottom: 5px;
        border-radius: 30px;
    }
}

.section__page {
    margin-top: 47px;
}

.help-block {
    @include fontFt(13, 700, 120%, #A41C1C);
}

.accardion-item {
    @include fontFt(17, 700, 160%, $title);
    padding: 25px 31px;
    background: $white;
    border-radius: 30px;
    width: 100%;
    display: block;
    position: relative;
    transition: .3s all;

    &::after {
        @include pseudo(url('../images/arrow-gray.svg'), 17, 10);
        right: 37px;
        top: 50%;
        transform: translateY(-50%);
        transition: .3s all;
    }
}

.accardion-item.accardion-active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &::after {
        transform: rotate(180deg);
        transition: .3s all;
    }
}

.accardion-item.accardion-active+.accardion-content {
    height: 100%;
    opacity: 1;
    visibility: visible;
    padding-top: 5px;
    padding-bottom: 30px;
    transition: .3s all;
}

.accardion-content {
    height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    padding: 0;
    padding-left: 30px;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: $white;
    width: 100%;
    transition: .3s all;
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    99% {
        padding: 26px 23px;
        margin-bottom: 32px;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

#message {
    padding: 26px 23px;
    @include fontFt(17, 700, 160%, $white);
    background-color: $main;
    border-radius: 20px;
    margin-bottom: 32px;
    animation-name: disappear;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}




/**********************
    **********************
        NAVBAR
    **********************
**********************/

.header {}

.logo__top {
    display: none;
}

.menu__list-top__text-cover {
    display: none;
}

.logo {
    background: $main;
    padding: 25px 10px;
    border-top-right-radius: 37px;
    position: relative;

    &::after {
        content: "";
        background: $main;
        bottom: 0;
        position: absolute;
        right: 35px;
        top: 0;
        transform: scaleX(100);
        transform-origin: right center;
        width: 100%;
        z-index: -1;
    }
}

.menu {
    width: 100%;

    .menu__close {
        display: none;
    }

    & a {
        text-decoration: none;
    }

    /*MENU TOP*/
    &__list-top {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-bottom: 13px;
        gap: 52px;
        margin-top: 22px;

        &__links {
            gap: 29px;
            display: flex;
        }

        &__link {
            @include fontFt(20, 700, 160%, $title);

            &:hover {
                color: $active;
            }

            &:hover .menu__list-top__link-text:after {
                background-position: 0 0;

            }
        }

        &__link-inner {
            display: flex;
        }

        &__link-inner.lang {
            gap: 2px;
            justify-content: flex-end;
        }

        &__link-title {
            @include fontFt(15, 400, 160%, $nav_title);
        }

        &__link-text {
            position: relative;
            padding-left: 30px;
        }

        &__link-text.mail::after {
            @include pseudo(url('../images/message.png'), 23, 23);
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-position: 0 -23px;
        }

        &__link-text::after {
            @include pseudo(url('../images/phone.png'), 23, 23);
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-position: 0 -23px;
        }

        &__link-text.lang {
            color: $white;
            background: $main;
            padding: 3px 15px;
            transition: .3s all;

            &:hover {
                color: $main;
                background: $active;
            }
        }

        &__link-text.lang.active {
            opacity: 1;
            color: $active;
            background: $active;
            color: $main;
        }

        &__link-text.lang::after {
            content: none;
        }
    }

    /*MENU*/

    &__wrapper {
        display: flex;
        align-items: flex-end;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__title {
        @include fontFt(30, 700, null, $main);
        text-align: center;
        width: 100%;
    }

    &__subtitle {
        @include fontFt(19, 700, null, $white);
        background: $main;
        padding: 13px 0 9px 0;
        width: 100%;
        text-align: center;
        position: relative;

        &::after {
            content: "";
            background: $main;
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            transform: scaleX(100);
            transform-origin: left center;
            width: 100%;
            z-index: -1;
        }
    }

    &__list {
        display: flex;
        gap: 15px;
        align-items: center;
        position: relative;
        background: $active;
        padding-top: 13px;
        padding-left: 18px;
        width: 100%;

        &::after {
            content: "";
            background: $active;
            bottom: 0;
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            transform: scaleX(100);
            transform-origin: left center;
            width: 100%;
            z-index: -1;
        }

        &-item {
            transition: .3s all;
            position: relative;

            &:last-child .menu__list-link::after {
                content: none;
            }
        }

        &-link {
            position: relative;
            @include fontEc(14, 700, 120%, $title);
            padding: 10px 0;
            padding-right: 19px;
            transition: .3s all;
            border-bottom: 4px solid $main;
            display: inline-block;
            padding-bottom: 16px;


            &::after {
                @include pseudo(url('../images/menu-arrow-dark.svg'), 12, 7);
                top: 46%;
                right: 0;
                transform: translateY(-50%);
                transition: .3s all;
            }
        }

        /*MENU INNER*/
        &-inner {
            position: absolute;
            background: $white;
            border-radius: 20px;
            z-index: 105;
            display: flex;
            flex-direction: column;
            gap: 13px;
            left: -11px;
            top: 44px;
            box-shadow: 0px 1px 17px rgba(166, 166, 166, 0.25);
            padding: 19px 14px;
            transform: rotateX(-90deg);

            opacity: 0;
            visibility: hidden;
            overflow: hidden;

            transition: .3s all linear;

            min-width: 210px;
            transform-origin: 0 0;

            &__link {
                @include fontEc(15, 500, 120%, $title);
                transition: .3s all;
                display: inline-block;


            }
        }

        /*HOVER EFFECT*/
        &-item:hover &-link {}

        &-item:hover>&-inner {
            transform: rotateX(0);
            transition: .3s all linear;

            opacity: 1;
            visibility: visible;
        }

        &-item:hover &-link:after {
            /* background-image: url('../images/arrow-active.svg'); */
            top: 43%;
            transform: rotate(180deg);
        }


        &-inner {
            &__link:hover {
                color: $active;
            }
        }
    }

}




/**********************
    **********************
        BANNER
    **********************
**********************/
.banner {
    margin-top: 16px;

    .info__item {
        display: none;
    }

    &__img {
        width: 100%;
        max-height: 320px;
        overflow: hidden;
        position: relative;
    }

    &__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 76px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 100;
        max-width: 720px;
        width: 100%;
    }

    &__title {
        @include fontEc(50, 700, 120%, $white);
    }

    &__subtext {
        @include fontEc(35, 700, 120%, $active);
        margin-bottom: 19px;
    }

    &__link {
        @include fontEc(20, 450, 160%, $white);
        position: relative;
        padding-left: 30px;

        &::before {
            @include pseudo(url('../images/location.svg'), 19, 24);
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}


/**********************
    **********************
        INFO
    **********************
**********************/

.info {
    margin-top: -3px;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        align-items: center;
    }

    &__item {
        transition: .3s all;

        &:hover p {
            color: $active;
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s all;
        height: 80px;
    }

    &__icon img {
        object-fit: cover;
        height: auto;
    }

    &__text {
        @include fontFt(17, 700, 110%, $title);
        text-align: center;
        padding-top: 15px;
        transition: .3s all;
    }


    &__date {
        width: 180px;
        padding-top: 28px;
        padding-bottom: 34px;
        text-align: center;
        background: $main;

        &-title {
            @include fontFt(35, 400, null, $active);
        }

        &-text {
            @extend .info__date-title;
            font-size: 21px;
        }
    }
}

.accociation__logo {
    display: flex;
    justify-content: flex-end;
}

.menu__list-top__links.mobile {
    display: none;
}

.logo-mobile {
    display: none;
}

@media (max-width: 1240px) {
    .info {
        margin-top: 10px;
    }

    .info__wrapper {
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        justify-content: center;
        align-items: center;
    }

    .info__item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 50%;
        margin: 0 auto;
    }

    .accociation__logo {
        justify-content: center;
    }


}

@media (max-width: 1220px) {

    .header .container {
        padding: 0;
    }

    .header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 210px;
    }

    .banner {
        &__img::before {
            bottom: 4px;
        }
    }

    .menu .menu__close {
        display: block;
        position: absolute;
        background: transparent;
        background-image: url('../images/close.svg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 17px;
        height: 17px;
        top: -99px;
        right: 9px;
        border: none;
    }

    .menu {
        transform: translateX(200%);
    }

    .menu__wrapper.active {
        width: auto;
        transition: .4s all;

    }

    .menu__wrapper.active .menu {
        position: absolute;
        top: 0;
        right: 0;
        transition: .4s all;
        width: 100%;
        z-index: 101;
        background: $active;
        padding: 30px 0;
        padding-top: 0;
        transform: translateX(0);

        & .menu__list-top__links.mobile {
            display: flex;
        }
    }

    .menu__list {
        background: $active;
        color: $main;
        align-items: flex-start;
        flex-direction: column;


        &::after {
            content: none;
        }

        &-link {
            width: 100%;
            padding-right: 10px;
            border-bottom: none;
            position: relative;
            color: $main;

            &::before {
                content: '';
                position: absolute;
                width: 100px;
                background: $main;
                height: 4px;
                bottom: 0;
            }
        }

        &-item {
            width: 100%;
            padding-right: 15px;
        }
    }

    .logo__top {
        background: $main;
        padding: 13px 33px;
        height: 125px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        a {
            display: block;
            max-width: 329px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .menu__list-top {
        padding: 0 15px;
        gap: 0;
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 0;



        .menu__list-top__text-cover {
            text-align: center;
            grid-column: 1/2 span;
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 20px;

            h1 {
                @include fontFt(30, 700, 30px, $main);
            }

            p {
                @include fontFt(18, 700, 19px, $main);
            }
        }
    }

    .menu__list-top__link:hover {
        color: $main;
    }

    .info__item-banner {
        display: none;
    }

    .banner {
        .info__item {
            display: block;
            width: 100%;
            max-width: 100%;
            margin-top: -5px;

            .info__date {
                width: 100%;
            }
        }
    }

    .menu__wrapper {
        display: flex;
        flex-direction: column;
        width: 0;
        transition: .4s all;
    }

    .logo__mobile-wrapper {
        background: $main;
        padding: 28px 0;
        padding-left: 30px;
    }

    .logo-mobile {
        display: inline-block;
        max-width: 275px;
        height: auto;
        padding-right: 15px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .burger__btn {
        display: flex;
        justify-content: center;
        position: relative;
    }

    .menu__title,
    .menu__subtitle {
        display: none;
    }

    .menu__list-top__links {
        display: none;
    }

    .menu__list-top__links.mobile {
        display: none;
        width: 100%;
        margin-top: 106px;
        padding-left: 18px;
    }

    .menu__list-top__links.mobile ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .logo {
        display: none;
    }
}

@media (max-width: 700px) {
    .info__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 406px) {
    .menu__list-top {
        .menu__list-top__text-cover {
            h1 {
                font-size: 20px;
            }

            p {
                font-size: 14px;
            }
        }
    }
}

/**********************
    **********************
        REGISTRATION FOR GUESTS
    **********************
**********************/
.registration {
    padding-top: 30px;

    &__title {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 38px;
    }

    &__asterisk {
        color: $main;
    }

    &__form {
        row-gap: 20px;

        &-item {
            display: flex;
            flex-direction: column;
            gap: 10px;
            @include fontFt(16, 400, 20%, $text);
            cursor: pointer;

            & .form-group {
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
        }

        &-item input,
        &-item select {
            border: none;
            outline: none;
            padding: 20px;
            border-radius: 30px;
            box-shadow: 0px 1px 17px rgba(243, 243, 243, 0.78);
        }

        &-item select {
            line-height: 1.3;
            appearance: none;
            background-image: url('../images/arrow-select.svg');
            background-repeat: no-repeat, repeat;
            background-position: right 25px top 50%, 0 0;
            background-size: .65em auto, 100%;
            cursor: pointer;
        }


        &-btn {
            margin-top: 33px;
            padding: 15px 0;
            border: 2px solid $main;
            border-radius: 30px;
            background: transparent;
            @include fontFt(17, 700, 160%, $main);
        }
    }



    #approve {
        margin-right: 10px
    }

    &__banner-wrapper {
        display: flex;
        justify-content: flex-end;
        position: relative;
    }

    &__banner-img {
        max-width: 480px;
        height: 611px;
        overflow: hidden;
        border-radius: 30px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__banner-text {
        position: absolute;
        top: 27px;
        right: 52px;
    }

    &__banner-title {
        @include fontEc(50, 700, 120%, $white);
        max-width: 386px;
    }

    &__banner-subtext {
        @extend .banner__subtext;
    }

    &__banner-link {
        @extend .banner__link;
    }
}


/**********************
    **********************
        PARTAKERS
    **********************
**********************/

#partakers__registration-container {
    .row {
        row-gap: 35px;
    }
}

.partakers {
    padding-top: 25px;

    .select2-container--krajee-bs3 .select2-selection--single {
        height: 53px !important;
        line-height: 1.428571429 !important;
        padding: 6px 24px 6px 12px !important;
        border-radius: 20px !important;
        border: none !important;
        /* box-shadow: none; */
        box-shadow: 0px 1px 17px rgba(243, 243, 243, .78) !important;
        cursor: pointer !important;
    }


    .select2-container--krajee-bs3 .select2-selection--single .select2-selection__arrow {
        border: none !important;
        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
        position: absolute !important;
        height: 32px !important;
        top: 50% !important;
        right: 15px !important;
        width: 20px !important;
        transform: translateY(-50%) !important;
    }

    &__registration-container {
        .row {
            row-gap: 35px;
        }
    }

    &__accardion-wrapper {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    &__title {
        text-align: center;
        margin-bottom: 60px;
    }

    &__item {
        @extend .registration__form-item;
    }

    &__btn {
        @extend .registration__form-btn;
    }

    &__item input {
        box-shadow: 0px 1px 17px rgba(243, 243, 243, 0.78);
        height: 53px;
    }

    &__accardion-content {
        overflow-x: scroll;
    }
}

@media (max-width: 992px) {
    .registration__details-table {
        min-width: 1000px;
    }

    .accardion-item {
        font-size: 13px;
    }

    #price-tag__container {
        margin-top: 20px;
    }

    .accardion-item::after {
        right: 15px;
    }
}

/* Price Tag */
.price-tag {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

    &__wrapper {
        background: $white;
        box-shadow: 0px 1px 17px rgba(243, 243, 243, 0.78);
        border-radius: 30px;
        padding-top: 19px;
        padding-bottom: 21px;
    }

    &__title {
        @include fontFt(19, 600, 120%, $title);
        padding-left: 14px;
        padding-right: 19px;
        max-width: 250px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &.inner {
            padding-left: 0;
            padding-right: 0;
        }

        & span {
            color: $main;
        }
    }

    &__item {
        padding-top: 11px;
        padding-bottom: 15px;
        padding-left: 14px;
        padding-right: 19px;
        @include fontFt(17, 300, 120%, $text);

        div {
            display: flex;
            justify-content: space-between;
        }

        p {
            display: flex;
            justify-content: space-between;
        }


        &:not(:last-child) {
            border-bottom: 1px solid rgba(163, 163, 163, 0.22);
        }

        &:last-child {
            padding-bottom: 0;
        }
    }

    &__number {
        @include fontFt(17, 700, 120%, $title);
    }

    &__info {}

    & .submit {
        @include fontFt(17, 700, 160%, $white);
        border-radius: 45px;
        background: $active;
        border: none;
        padding: 12px 58px;
        border: 2px solid $active;
        box-shadow: 0px 1px 17px rgba(216, 164, 12, 0.25);
    }
}

.registration__details {
    padding-top: 27px;

    &-title {
        text-align: center;
        text-transform: uppercase;
        font-size: 27px;
        line-height: 120%;
        margin-bottom: 25px;
    }

    &-table {
        background: $white;
        border-radius: 30px;
        width: 100%;
        overflow-x: scroll;
        box-shadow: 0px 1px 17px rgba(232, 232, 232, 0.25);

        & th:first-child {
            width: 43%;
        }

        & th:last-child {
            width: 18%;
        }

        & th {
            @include fontFt(19, 700, 120%, $title);
        }
    }

    .counter {
        display: flex;
        justify-content: space-around;
    }

    .calc-btn {
        @include fontFt(23, 700, 120%, $white);
        border: none;
        background: $main;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 23px;
        height: 23px;
        border-radius: 5px;
        box-shadow: 0px 1px 17px rgba(232, 232, 232, 0.25);

        &.substraction {
            padding-bottom: 4px;
        }
    }

    &-table td,
    &-table th {
        padding: 11px 15px 15px 27px;
    }

    &-table th {
        padding-top: 20px;
        vertical-align: middle;
    }

    tr td:last-child {
        border-right: 0;
    }

    tr:last-child td {
        border-bottom: 0;
    }

    td {
        border-bottom: 1px solid rgba(163, 163, 163, 0.22);
        border-right: 1px solid rgba(163, 163, 163, 0.22);
    }

    th {
        border-bottom: 1px solid rgba(163, 163, 163, 0.22);
        border-right: 1px solid rgba(163, 163, 163, 0.22);

        &:last-child {
            border-right: 0;
        }
    }
}

#price-tag__container {
    display: none;

    &.active {
        display: block;
    }
}

#details-table {
    display: none;

    &.active {
        display: block;
    }
}

/**********************
    **********************
        EXHIBITION SECTION
    **********************
**********************/
.exhibition {
    padding-top: 27px;

    &__title {
        text-transform: uppercase;
        text-align: center;
    }

    /*Exhibition banner*/
    &__banner {
        height: 260px;
        background: $main;
        margin-bottom: 46px;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 0;

        &::before {
            @include pseudo(url('../images/section-banner-item-1.png'), 247, 230);
            left: 0;
            top: 0;
            z-index: -1;
        }

        &::after {
            @include pseudo(url('../images/section-banner-item-2.png'), 330, 230);
            right: 15px;
            bottom: 0;
            z-index: -1;
        }

        &-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-text__wrapper {
            text-align: right;
        }

        &-suptext {
            @include fontEc(25, 400, 120%, $white);
        }


        &-title {
            @include fontEc(38, 700, 120%, $white);
        }

        &-text {
            @include fontFt(16, 300, 120%, $white);
            max-width: 480px;
        }
    }

    /*Exhibition info*/
    &__info {
        margin-bottom: 46px;

        &-wrapper {
            align-items: center;
        }

        &-title {
            @include fontEc(38, 700, 120%, $title);
        }

        &-text__cover {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &-text {
            @include fontFt(16, 300, 120%, $text);
        }

        &-img__cover {
            display: flex;
            justify-content: flex-end;
        }

        &-img {
            max-width: 480px;
            height: 355px;
            border-radius: 30px;
            overflow: hidden;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__info.dark {
        padding: 46px 0;
        background: $bg;

        .exhibition__info-wrapper {
            flex-direction: row-reverse;
        }

        .exhibition__info-text__cover {
            padding-left: 102px;
        }

        .exhibition__info-img__cover {
            justify-content: flex-start;
        }

    }
}

@media (max-width: 1750px) {
    .exhibition__banner {
        height: auto;
        padding: 20px 0;

        &::after {
            content: none;
        }

        &::before {
            content: none;
        }
    }

    .exhibition__banner-title {
        max-width: 100%;
    }
}

@media (max-width: 1500px) {
    .location__banner-wrapper {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
    }

    .exhibition__banner-title {
        font-size: 29px;
    }
}

@media (max-width: 1150px) {
    .exhibition__banner-content {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 760px) {
    .location__banner-schedule {
        align-items: flex-start;
    }

    .location__banner-schedule__item {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 20px;
    }
}

/**********************
    **********************
        LOCATION
    **********************
**********************/

.location {
    padding-top: 27px;

    &__title {
        text-align: center;
    }

    /*location banner*/
    &__banner {
        @extend .exhibition__banner;
        margin-bottom: 0;

        &-wrapper {
            display: flex;
            justify-content: space-between;
        }

        &-title {
            @extend .exhibition__banner-title;
            max-width: 570px;
        }

        &-schedule {
            width: 52%;
            display: flex;
            flex-direction: column;
            gap: 25px;
        }

        &-schedule__item {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-date__cover {
            display: flex;
            flex-direction: column;
            position: relative;
            padding-left: 40px;

            &::after {
                @include pseudo(url('../images/clock.svg'), 33, 33);
                top: -5px;
                left: 0;
            }
        }

        &-calendar {
            @include fontEc(22, 700, 120%, $white);
            position: relative;
            padding-left: 40px;

            &::before {
                @include pseudo(url('../images/calendar.svg'), 30, 33);
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &-day {
            @include fontEc(22, 700, 120%, $white);
        }

        &-time {
            @include fontEc(19, 300, 120%, $white);
        }
    }

    /*location hero*/
    &__hero {
        &-img {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            width: 100%;

            background-image: url('../images/location_hero.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top left;
        }

        &-title {
            @include fontEc(40, 700, 120%, $white);
            text-transform: uppercase;
            max-width: 840px;
            text-align: center;
        }
    }

    /*location info*/
    &__info {
        padding-top: 41px;
        padding-bottom: 47px;

        &-text__cover {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &-text__title {
            @include fontFt(18, 700, 120%, $title);
            max-width: 580px;
        }

        &-text {
            @include fontFt(16, 300, 120%, $text);
            max-width: 480px;
        }



        &-statistics {
            justify-content: flex-end;
            gap: 20px;

            &-item {
                background: $white;
                box-shadow: 0px 1px 17px 0px rgba(243, 243, 243, 0.78);
                border-radius: 30px;
                height: 214px;
                max-width: 219px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            &-number {
                @include fontFt(28, 700, 120%, $title);
                margin-bottom: 5px;
            }

            &-text {
                @include fontFt(16, 300, 120%, $text);
                text-align: center;
            }


        }
    }

    &__gallery {
        &-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        &-img {
            max-width: 640px;
            max-height: 425px;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-btn__wrapper {
            display: flex;
            justify-content: center;
            margin-top: 60px;
        }

        &-btn {
            @include fontFt(17, 700, 160%, $active);
            padding: 20px 76px;
            border-radius: 45px;
            border: 2px solid $active;
        }
    }
}

@media (max-width: 992px) {
    .location__info-statistics-item {
        max-width: 100%;
    }

    .location__info-text__title {
        max-width: 100%;
    }

    .location__info-text {
        max-width: 100%;
    }

    .location__gallery-wrapper {
        grid-template-columns: 1fr;
    }

    .location__gallery-img {
        max-width: 100%;
    }
}

/**********************
    **********************
        VISITOR REGISTRATION
    **********************
**********************/

.visitor__registration {
    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 130px;
    }

    &-btn {
        @extend %btn;
        padding: 17px 36px;
    }
}

/**********************
    **********************
        EXHIBITION PLAN
    **********************
**********************/

.exhibition__plan {

    &-inner {
        margin-top: 75px;

        &__title {
            margin-bottom: 31px;
        }

        &__content {
            display: flex;
            gap: 50px;
        }

        &__info {
            display: flex;
            flex-direction: column;
            gap: 116px;
        }
    }
}


@media (max-width: 993px) {
    .exhibition__plan-inner__content {
        flex-direction: column;
    }
}

@media (max-width: 570px) {
    .exhibition__plan-img {
        width: 100%;

        & img {
            width: 100%;
            height: auto;
        }
    }
}

/**********************
    **********************
        HOTELS
    **********************
**********************/
.hotels {
    .row {
        row-gap: 20px;
    }

    &__title {
        margin-bottom: 3px;
    }

    &__subtext {
        @include fontFt(18, 400, 160%, $text);
        text-align: center;
        margin-bottom: 47px;
    }

    /* Hotels inner*/

    &__inner {
        row-gap: 20px;
    }

    &__item {
        background: $white;
        border-radius: 30px;
        box-shadow: 0px 1px 17px 0px rgba(232, 232, 232, 0.25);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        gap: 12px;
        height: 100%;

        &-img {
            max-width: 100%;
            width: 100%;
            height: 207px;
            border-radius: 30px;
            overflow: hidden;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-title {
            @include fontFt(21, 700, 160%, $title);
        }

        &-text {
            @include fontFt(15, 500, 120%, $text);
            padding: 0 30px;
        }

        &-btn {
            @extend %btn;
            padding: 13px 45px;
            margin-bottom: 30px;
        }
    }

    /* Hotels info*/
    &__info {
        margin-top: 75px;

        &-title {
            @include fontFt(24, 700, 120%, $title);
            max-width: 580px;
            margin: 0 auto;
            margin-bottom: 20px;
        }

        &-contacts {
            display: flex;
            justify-content: center;
            gap: 55px;
        }

    }

}

@media (max-width: 500px) {

    .hotels__info-title {
        font-size: 22px;
    }

    .hotels__info-contacts {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
}

/**********************
    **********************
        ADVANTAGES
    **********************
**********************/
.advantages {

    &__inner {
        row-gap: 47px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 17px;
        text-align: center;
        padding: 0 15px;

        &-img {
            width: 30%;
            margin: 0 auto;

            & img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                aspect-ratio: 4/5;

            }
        }

        &-title {
            @include fontFt(26, 700, 100%, $title);
        }

        &-list {
            @include fontFt(15, 400, 120%, $text);
        }
    }
}


/**********************
    **********************
        EXHIBITION INFO
    **********************
**********************/

/* Price */
.price {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: 54px;
    }

    &__inner {
        &-title {
            @include fontFt(24, 700, 120%, $title);
            margin-bottom: 34px;
        }
    }

    &__item {
        background: $white;
        padding-bottom: 31px;
        border-radius: 30px;
        box-shadow: 0px 1px 17px 0px rgba(232, 232, 232, 0.25);

        &-img {
            width: 374px;
            height: 223px;
            border-radius: 30px;
            overflow: hidden;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-title {
            @include fontFt(21, 700, 160%, $title);
            margin-top: 13px;
            margin-bottom: 10px;
            text-align: center;
        }

        &-list {
            @include fontFt(15, 400, 120%, $text);
            list-style-type: decimal;
            padding: 0 30px;
            padding-left: 40px;
        }
    }

    &__btn {
        @extend %btn;
        padding: 16px 34px;
        display: inline-block;
        margin-top: 54px;
    }
}

@media (max-width:992px) {
    .price__item-img {
        width: 100%;
    }
}

/* Services */
.services {
    background: $main;
    margin-top: 66px;
    padding-top: 71px;
    padding-bottom: 113px;
    color: $white;

    &__title {
        @include fontFt(40, 700, 120%, $white);
        text-align: center;
        margin-bottom: 71px;
    }

    &__inner {
        row-gap: 40px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 26px;

        &-number {
            @include fontFt(40, 700, 160%, $white);
            background: $active;
            width: 83px;
            height: 83px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }

        &-text {
            width: 70%;
        }
    }
}

/* Request */
.request {
    &__wrapper {
        display: flex;
        justify-content: center;
    }

    &__container {
        width: 50%;
        padding: 30px 0;
        padding-bottom: 36px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    &__container.active {
        align-items: flex-end;
        background: $active;
        padding-right: 130px;

        & .request__title {
            @include fontFt(40, 700, 120%, $white);
        }

        & .request__subtext {
            @include fontFt(20, 700, 160%, $white);
            margin-bottom: 10px;
        }

        & .request__text {
            @include fontFt(16, 400, 120%, $white);
        }
    }

    &__container.light {
        align-items: flex-start;
        padding-left: 130px;

        & .request__title {
            @include fontFt(40, 700, 120%, $title);
        }

        & .request__subtext {
            @include fontFt(20, 700, 160%, $title);
            margin-bottom: 10px;
        }

        & .request__text {
            @include fontFt(16, 400, 120%, $title);
        }
    }

    &__container-inner {
        max-width: 325px;
    }
}

@media (max-width: 992px) {
    .request__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .request__container {
        width: 100%;

        &.light,
        &.active {
            padding-left: 0;
            padding-right: 0;
            align-items: center;
        }
    }
}

/**********************
    **********************
        BOOK
    **********************
**********************/
.book {
    padding-top: 30px;
    padding-bottom: 90px;
    background: $main;

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__text {
        @include fontFt(20, 700, 160%, $white);
    }



    &__btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 54px;
    }

    &__btn-link {
        @extend %btn;
        padding: 16px 64px;
    }
}

/**********************
    **********************
        OPPORTUNITY
    **********************
**********************/
.opportunity {
    &__title {
        margin-bottom: 60px;
    }

    &__inner {

        &-box {
            row-gap: 40px;
        }

        &-title {
            @include fontFt(24, 700, 120%, $title);
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 34px;
        }

        &-item {
            @include fontFt(16, 400, 120%, $text);
            display: flex;
            align-items: center;
            gap: 29px;
        }
    }


    /* Opportunity banner */
    &__banner {
        background: $main;
        padding: 65px 0;
        margin-top: 50px;

        &-wrapper {
            display: flex;
            justify-content: center;
        }

        &-title {
            @include fontFt(40, 700, 120%, $white);
            text-transform: uppercase;
        }
    }

    /* Opportunity accardion */
    &__accardion {
        margin-top: 34px;

        &-wrapper {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }
}

/**********************
    **********************
        SCHEDULE
    **********************
**********************/
.schedule {
    &__tab {
        border-radius: 30px;
        border: 1px solid #dcdcdc;
        display: flex;
        align-items: center;

        &-wrapper {
            display: flex;
            justify-content: center;
        }

        &-link {
            @include fontFt(18, 700, 160%, #dcdcdc);

            padding: 10px 40px;
            border-radius: 30px;
            border: none;

            &:first-child {
                padding-left: 33px;
            }

            &:last-child {
                padding-right: 40px;
            }
        }

        &-link.active {
            @extend %btn;
            border: none;
            position: relative;
            background: $active;
            @include fontFt(18, 700, 160%, $white);
            transition: .3s all;
        }
    }

    &__list {
        display: none;

        &.active {
            display: block;
        }



        &-top {
            display: flex;
            justify-content: space-between;
            @include fontFt(27, 700, 120%, $title);
            padding-top: 62px;
            padding-bottom: 55px;
            text-transform: uppercase;
        }

        &-item {
            display: flex;
            justify-content: space-between;
            max-width: 1020px;
            border-top: 1px solid #dcdcdc;
            margin: 0 auto;
            padding: 30px 60px;
            padding-bottom: 45px;

            &-text__cover {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 387px;
            }

            &-text__cover b {
                padding-bottom: 14px;
                @include fontFt(16, 700, 120%, #1D1D1B)
            }
        }

        &-time {
            @include fontFt(28, 700, 120%, $title);
        }

        &-text {
            @include fontFt(16, 400, 120%, $nav_title);
            max-width: 387px;
        }
    }
}

@media (max-width: 992px) {
    .schedule__tab {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .schedule__tab-link {
        width: 100%;
        text-align: center;
    }

    .schedule__list-item {
        flex-direction: column;
        padding-right: 0;
    }

    .schedule__list-text {
        max-width: 100% !important;
        width: 100% !important;
    }

    .schedule__list-top {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

/**********************
    **********************
        SPEAKERS AND NEWS
    **********************
**********************/

.speakers,
.news {
    &__title {}

    &__box {
        row-gap: 20px;
    }

    &__item {
        padding: 0 0 25px 0;
        display: block;
        background: $white;
        text-align: center;
        box-shadow: 0px 1px 17px 0px rgba(232, 232, 232, 0.25);
        border-radius: 10px;
        height: 100%;

        &-img {
            width: 100%;
            height: 218px;
            border-radius: 10px;
            overflow: hidden;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-name {
            @include fontFt(19, 700, 160%, $title);
            margin-top: 13px;
            margin-bottom: 5px;
        }

        &-text {
            @include fontFt(16, 300, 120%, $text);

            padding: 0 11px;
        }
    }
}

.speakers {
    &__item {
        display: flex !important;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;

        &-img {
            & img {
                object-fit: contain;
            }
        }
    }
}

/**********************
    **********************
         NEWS
    **********************
**********************/

.news {

    &__item {
        position: relative;
    }

    &__date {
        @include fontFt(16, 700, 120%, $white);
        display: inline-block;
        position: absolute;
        top: 8px;
        right: 6px;
        background: $active;
        padding: 7px 9px;
        padding-left: 29px;
        border-radius: 8px;

        &::before {
            @include pseudo(url('../images/calendar.svg'), 15, 17);
            top: 47%;
            left: 7px;
            transform: translateY(-50%);
        }
    }
}

/**********************
    **********************
        PRESS AND POST RELEASE
    **********************
**********************/
.press__release,
.post__release {

    padding-bottom: 100px;

    &-title {
        margin-bottom: 40px;
    }

    &-content {
        &__title {
            @include fontFt(19, 700, 120%, $title);
            margin-bottom: 18px;
        }

        &__text {
            @include fontFt(16, 400, 120%, $text);
        }
    }


    &-banner {
        padding: 53px 0 73px 0;
        background: $main;
        text-align: center;
        margin-bottom: 34px;

        &__wrapper {
            display: flex;
            justify-content: space-between;
        }

        &__item {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &__title {
            @include fontEc(30, 700, 120%, $white);
            text-transform: uppercase;
        }

        &__subtext {
            @include fontFt(16, 400, 120%, $text);
            max-width: 444px;
        }
    }

    &-info {
        &__wrapper {
            display: flex;
            justify-content: space-between;
        }

        &__item {
            max-width: 615px;
            @include fontFt(19, 700, 120%, $title);
        }

        &__btn {
            padding: 0;
            padding: 17px 76px;
            border-radius: 45px;
            border: 2px solid $active;
            background: transparent;
            @include fontFt(17, 700, 160%, $active);
        }
    }
}

@media (max-width: 992px) {
    .press__release-banner__wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .press__release-banner__item {
        align-items: center;
    }

    .press__release-info__wrapper {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .press__release-info__item {
        max-width: 100%;
    }
}


/**********************
    **********************
       POST RELEASE
    **********************
**********************/

.post__release {
    &-info {
        &__subtext {
            @include fontFt(16, 450, 120%, $text);
        }
    }
}

/**********************
    **********************
       GALLERY
    **********************
**********************/
.gallery {
    &__tab {
        border-radius: 30px;
        border: 1px solid #dcdcdc;
        display: flex;
        align-items: center;

        &-wrapper {
            display: flex;
            justify-content: center;
        }

        &-link {
            @include fontFt(18, 700, 160%, #dcdcdc);

            padding: 10px 40px;
            border-radius: 30px;
            border: none;

            &:first-child {
                padding-left: 33px;
            }

            &:last-child {
                padding-right: 40px;
            }
        }

        &-link.active {
            @extend %btn;
            border: none;
            position: relative;
            background: $active;
            @include fontFt(18, 700, 160%, $white);
            transition: .3s all;
        }
    }


    &__list {
        display: none;
        margin-top: 40px;

        &.active {
            display: block;
        }

        .row {
            row-gap: 20px;
        }

        .col-lg-3 {
            max-width: 100%;
            height: 218px;
            display: inline-block;
            overflow: hidden;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;

            }
        }
    }


    &__subscribe {
        margin-top: 131px;
        padding: 40px 0 50px 0;
        background: #F8F8F8;

        &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-title {
            @include fontFt(24, 700, 120%, $title);
            max-width: 596px;
            text-align: center;
        }

        &-inner {
            display: flex;
            gap: 10px;
            margin-top: 35px;
            margin-bottom: 20px;
        }

        &-input {
            padding: 18px 21px;
            border-radius: 30px;
            background: $white;
            border: none;
            @include fontFt(16, 400, 120%, $text);
            width: 380px;
            outline: none
        }

        &-btn {
            @extend %btn;
            padding: 18px 81px;
            background: $active;
            color: $white;
        }

        &-text {
            @include fontFt(16, 300, 120%, $text);
        }
    }
}

@media (max-width: 992px) {
    .gallery__tab {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .gallery__tab-link {
        width: 100%;
        text-align: center;
    }

    .gallery__subscribe-inner {
        flex-direction: column;
    }

    .gallery__subscribe-text {
        text-align: center;
    }
}

/**********************
    **********************
       FEEDBACK
    **********************
**********************/

.feedback {

    &__box {
        row-gap: 32px;
    }

    &__item {
        text-align: center;

        &-img {
            display: inline-block;
            width: 100%;
            height: 300px;
            border-radius: 30px;
            overflow: hidden;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: #000;
                opacity: .5;
            }

            .play {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                width: 64px;
                height: 64px;
                background: #006B87;
                border-radius: 50%;

                &::after {
                    @include pseudo(url('../images/play.svg'), 17, 19);
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                &::before {
                    @include pseudo(null, 79, 79);
                    background: #006B87;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: .5;
                    border-radius: 50%;
                }
            }


            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-title {
            @include fontFt(24, 700, 120%, $title);
            margin-top: 15px;
            margin-bottom: 6px;
        }

        &-text {
            @include fontFt(16, 300, 120%, $text);
        }
    }
}

/**********************
    **********************
       PARTNERS
    **********************
**********************/

.partners {

    &__box {
        row-gap: 20px;
    }

    &__item {
        padding: 0 8px;
        height: 274px;
        text-align: center;
        background: $white;
        border-radius: 30px;
        display: inline-block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 42px;

        &-img {
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;

            & img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &-text {
            max-width: 265px;
            @include fontFt(17, 300, 120%, $text);
        }
    }
}

/**********************
    **********************
       BUYERS
    **********************
**********************/
.buyers {
    label {
        cursor: pointer;
    }

    .row {
        row-gap: 25px;
    }

    &__form {
        row-gap: 25px;

        &-verify {
            @include fontFt(16, 400, 120%, $text);
            display: flex;
            align-items: center;
            gap: 6px;
        }

        &-btn {
            border: none;
            background: $main;
            @include fontFt(17, 700, 120%, $white);
            padding: 24px 100px;
            border-radius: 45px;
            box-shadow: 0px 1px 17px 0px rgba(0, 107, 135, 0.25);

            &__cover {
                display: flex;
                justify-content: flex-end;
            }
        }
    }

    &__form-item {
        @extend .registration__form-item;
    }


    &__advantages {
        padding-top: 85px;

        &-title {
            @include fontEc(40, 700, 120%, $title);
            max-width: 833px;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 38px;
            text-transform: uppercase;
        }


        &-item {
            padding: 0 35px;
            padding-top: 37px;
            height: 272px;
            border-radius: 30px;
            box-shadow: 0px 1px 17px 0px rgba(227, 227, 227, 0.14);
            background: $white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 27px;
            text-align: center;

            &__img {
                width: 131px;
                height: 131px;

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            &__text {
                @include fontFt(17, 300, 120%, $text);
            }
        }

    }
}


/**********************
    **********************
        MEMBERS LIST
    **********************
**********************/
.members__list {


    &-table {
        width: 100%;

        border-collapse: separate;
        border-spacing: 0 8px;

        th {
            @include fontFt(15, 400, 120%, $nav_title);
        }

        th:first-child {
            width: 40%;
        }

        td {
            @include fontFt(16, 700, 120%, $title);
            padding: 20px;
            vertical-align: middle;
        }

        thead tr {
            border-radius: 0;
            background: transparent;
            box-shadow: none;
        }

        tr {
            border-radius: 20px;
            background: $white;
            box-shadow: 0px 1px 17px 0px rgba(215, 215, 215, 0.25);
            margin-top: 10px;
        }

        tr td:first-child {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }

        tr td:last-child {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        &__inner {
            display: flex;
            gap: 12px;
            align-items: center;
        }
    }
}

/**********************
    **********************
        CONTACTS
    **********************
**********************/

.contacts {
    &__members {}

    &__member {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $white;
        border-radius: 20px;
        box-shadow: 0px 1px 17px 0px rgba(232, 232, 232, 0.25);

        &-img {
            width: 100%;
            height: 218px;
            border-radius: 10px;
            overflow: hidden;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-name {
            @include fontFt(19, 700, 160%, $title);
        }

        &-text__cover {
            padding: 0 11px 25px;
            margin-top: 13px;
        }

        &-text {
            @include fontFt(16, 400, 120%, $text);
        }
    }

    /* Contacts team */
    &__team {
        padding-top: 76px;
        row-gap: 20px;

        /* Contacts team  Item*/
        &-item {
            border-radius: 10px;
            background: $white;
            box-shadow: 0px 1px 17px 0px rgba(232, 232, 232, 0.25);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            text-align: center;
            padding: 17px 48px 20px 48px;
            height: 100%;

            &__title {
                @include fontFt(18, 700, 160%, $title);
            }

            &__description {
                @include fontFt(15, 400, 120%, $text);
            }

            &__links {
                display: inline-flex;
                flex-direction: column;
                align-items: center;
            }

            &__link {
                @include fontFt(18, 700, 160%, $title);
                padding-left: 13px;
                width: max-content;

                &::before {
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -15px;
                    background-position: 0 -20px;
                }

                &:hover {
                    color: $active;
                }

                &:hover:before {
                    background-position: 0 0;
                }
            }

            &__link.phone {
                position: relative;

                &::before {
                    @include pseudo(url('../images/phone.png'), 20, 20);
                }
            }

            &__link.mail {
                position: relative;

                &::before {
                    @include pseudo(url('../images/message.png'), 20, 20);
                }
            }
        }

    }
}

/**********************
    **********************
        FOOTER
    **********************
**********************/
.footer {
    padding-bottom: 49px;

    &__wrapper {
        margin-top: 80px;
        padding-top: 32px;
        border-top: 1px solid $border_line;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__socials {
        display: flex;
        gap: 10px;
        margin-top: 20px;
    }

    &__social {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 43px;
        height: 43px;
        border-radius: 50%;
        background: $social;
        transition: .3s all;

        &:hover {
            background: $active;
        }
    }

    &__title {
        @include fontFt(17, 700, 160%, $text);
        margin-bottom: 29px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &-link {
            @include fontFt(20, 400, 160%, $title);
            transition: .3s all;
        }

        &-link:hover {
            color: $active;
        }
    }

    /*Contact list*/
    &__contact-list {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 27px;

        &-item {
            display: flex;
            flex-direction: column;
            position: relative;
            padding-left: 37px;

            &:hover .footer__contact-list-text {
                color: $active;
            }

            &:hover:after {
                background-position: 0 0;
            }

            &::after {
                @include pseudo(url('../images/phone.png'), 28, 28);
                left: 0;
                bottom: 0;
                background-position: 0 -28px;
            }

            &.mail::after {
                @include pseudo(url('../images/message.png'), null, null);

            }
        }

        &-title {
            @include fontFt(16, 400, 120%, $text);
        }

        &-text {
            @include fontFt(20, 700, 130%, $title);
        }
    }

    &__item-btn {
        padding: 14px 70px;
        @include fontFt(18, 700, 160%, $main);
        border: 1.5px solid $main;
        border-radius: 5px;
        transition: .3s all;

        &:hover {
            color: $active;
            border-color: $active;
        }
    }
}

@import '_media';