<!-- <footer class="footer">
    <div class="container">
        <div class="footer__wrapper">

            <div class="footer__item">
                <div class="footer__logo">
                    <img src="images/logo-footer.png" alt="logo">
                </div>
                <div class="footer__socials">
                    <a class="footer__social" href="#">
                        <img src="images/telegram.svg" alt="telegram">
                    </a>
                    <a class="footer__social" href="#">
                        <img src="images/instagram.svg" alt="instagram">
                    </a>
                    <a class="footer__social" href="#">
                        <img src="images/facebook.svg" alt="facebook">
                    </a>
                </div>
            </div>

            <div class="footer__item">
                <h4 class="footer__title">
                    Сервисы
                </h4>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a class="footer__list-link" href="#">
                            Проживание
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a class="footer__list-link" href="#">
                            Мероприятия
                        </a>
                    </li>
                </ul>
            </div>

            <div class="footer__item">
                <h4 class="footer__title">
                    Навигация
                </h4>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a class="footer__list-link" href="#">
                            Партнеры
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a class="footer__list-link" href="#">
                            Бренды
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a class="footer__list-link" href="#">
                            Реквизиты
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a class="footer__list-link" href="#">
                            Статьи
                        </a>
                    </li>
                </ul>
            </div>

            <div class="footer__item">
                <h4 class="footer__title">
                    Контакты
                </h4>
                <ul class="footer__contact-list">

                    <div class="footer__contact-list-item">
                        <a class="footer__contact-list-text" href="tel:998999999999">+998 99 999 99 99</a>
                    </div>

                    <div class="footer__contact-list-item">
                        <a class="footer__contact-list-text" href="tel:998999999999">+998 99 999 99 99</a>
                    </div>

                    <div class="footer__contact-list-item mail">
                        <a class="footer__contact-list-text" href="mailto:pochta@mail.ru">pochta@mail.ru</a>
                    </div>

                </ul>

                <a class="footer__item-btn" href="#">Посетить выставку</a>
            </div>


        </div>
</footer> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="js/main.min.js"></script>
<script src="js/script.js"></script>
</body>

</html>