<!--=include header.html -->

<main class="main">
    <section class="advatnages section__page">
        <div class="container">
            <div class="advatnages__wrapper">
                <h1 class="advatnages__title title">
                    Преимущества участия
                </h1>
                <div class="row advantages__inner">

                    <div class="col-lg-4">
                        <div class="advantages__item">
                            <div class="advantages__item-img">
                                <img src="images/advantages-icon.svg" alt="">
                            </div>

                            <h3 class="advantages__item-title">
                                УДОБНОЕ РАСПОЛОЖЕНИЕ
                            </h3>

                            <ul class="advantages__item-list">
                                <li class="advantages__item-list-item">
                                    · В базовую застройку входят полки/рейлы
                                </li>

                                <li class="advantages__item-list-item">
                                    · Рассылки с информацией о вашем бренде/компании по базе FSR (более 40 тысяч
                                    адресов)
                                </li>
                                <li class="advantages__item-list-item">
                                    · Гостиницы по льготным ценам
                                </li>
                                <li class="advantages__item-list-item">
                                    · Специальные условия на участие в показах и размещение в тренд-зоне
                                </li>
                                <li class="advantages__item-list-item">
                                    · Кофе-брейки и бесплатное питание
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="advantages__item">
                            <div class="advantages__item-img">
                                <img src="images/advantages-icon.svg" alt="">
                            </div>

                            <h3 class="advantages__item-title">
                                УДОБНОЕ РАСПОЛОЖЕНИЕ
                            </h3>

                            <ul class="advantages__item-list">
                                <li class="advantages__item-list-item">
                                    · В базовую застройку входят полки/рейлы
                                </li>

                                <li class="advantages__item-list-item">
                                    · Рассылки с информацией о вашем бренде/компании по базе FSR (более 40 тысяч
                                    адресов)
                                </li>
                                <li class="advantages__item-list-item">
                                    · Гостиницы по льготным ценам
                                </li>
                                <li class="advantages__item-list-item">
                                    · Специальные условия на участие в показах и размещение в тренд-зоне
                                </li>
                                <li class="advantages__item-list-item">
                                    · Кофе-брейки и бесплатное питание
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="advantages__item">
                            <div class="advantages__item-img">
                                <img src="images/advantages-icon.svg" alt="">
                            </div>

                            <h3 class="advantages__item-title">
                                УДОБНОЕ РАСПОЛОЖЕНИЕ
                            </h3>

                            <ul class="advantages__item-list">
                                <li class="advantages__item-list-item">
                                    · В базовую застройку входят полки/рейлы
                                </li>

                                <li class="advantages__item-list-item">
                                    · Рассылки с информацией о вашем бренде/компании по базе FSR (более 40 тысяч
                                    адресов)
                                </li>
                                <li class="advantages__item-list-item">
                                    · Гостиницы по льготным ценам
                                </li>
                                <li class="advantages__item-list-item">
                                    · Специальные условия на участие в показах и размещение в тренд-зоне
                                </li>
                                <li class="advantages__item-list-item">
                                    · Кофе-брейки и бесплатное питание
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="advantages__item">
                            <div class="advantages__item-img">
                                <img src="images/advantages-icon.svg" alt="">
                            </div>

                            <h3 class="advantages__item-title">
                                УДОБНОЕ РАСПОЛОЖЕНИЕ
                            </h3>

                            <ul class="advantages__item-list">
                                <li class="advantages__item-list-item">
                                    · В базовую застройку входят полки/рейлы
                                </li>

                                <li class="advantages__item-list-item">
                                    · Рассылки с информацией о вашем бренде/компании по базе FSR (более 40 тысяч
                                    адресов)
                                </li>
                                <li class="advantages__item-list-item">
                                    · Гостиницы по льготным ценам
                                </li>
                                <li class="advantages__item-list-item">
                                    · Специальные условия на участие в показах и размещение в тренд-зоне
                                </li>
                                <li class="advantages__item-list-item">
                                    · Кофе-брейки и бесплатное питание
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="advantages__item">
                            <div class="advantages__item-img">
                                <img src="images/advantages-icon.svg" alt="">
                            </div>

                            <h3 class="advantages__item-title">
                                УДОБНОЕ РАСПОЛОЖЕНИЕ
                            </h3>

                            <ul class="advantages__item-list">
                                <li class="advantages__item-list-item">
                                    · В базовую застройку входят полки/рейлы
                                </li>

                                <li class="advantages__item-list-item">
                                    · Рассылки с информацией о вашем бренде/компании по базе FSR (более 40 тысяч
                                    адресов)
                                </li>
                                <li class="advantages__item-list-item">
                                    · Гостиницы по льготным ценам
                                </li>
                                <li class="advantages__item-list-item">
                                    · Специальные условия на участие в показах и размещение в тренд-зоне
                                </li>
                                <li class="advantages__item-list-item">
                                    · Кофе-брейки и бесплатное питание
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="advantages__item">
                            <div class="advantages__item-img">
                                <img src="images/advantages-icon.svg" alt="">
                            </div>

                            <h3 class="advantages__item-title">
                                УДОБНОЕ РАСПОЛОЖЕНИЕ
                            </h3>

                            <ul class="advantages__item-list">
                                <li class="advantages__item-list-item">
                                    · В базовую застройку входят полки/рейлы
                                </li>

                                <li class="advantages__item-list-item">
                                    · Рассылки с информацией о вашем бренде/компании по базе FSR (более 40 тысяч
                                    адресов)
                                </li>
                                <li class="advantages__item-list-item">
                                    · Гостиницы по льготным ценам
                                </li>
                                <li class="advantages__item-list-item">
                                    · Специальные условия на участие в показах и размещение в тренд-зоне
                                </li>
                                <li class="advantages__item-list-item">
                                    · Кофе-брейки и бесплатное питание
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>

<!--=include footer.html -->