<!--=include header.html -->

<main class="main">
    <section class="contacts section__page">
        <div class="container">
            <div class="contacts__wrapper">
                <h1 class="contacts__title title">
                    Контакты
                </h1>

                <div class="row contacts__members">
                    <div class="col-lg-3 col-12">
                        <div class="contacts__member">
                            <div class="contacts__member-img">
                                <img src="../images/speakers-img.jpg" alt="">
                            </div>
                            <div class="contacts__member-text__cover">
                                <h3 class="contacts__member-name">
                                    Игорь Маркин
                                </h3>
                                <p class="contacts__member-text">
                                    Соучредитель digital agency Life Media, департамент развития продукта uds.app
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-12">
                        <div class="contacts__member">
                            <div class="contacts__member-img">
                                <img src="../images/speakers-img.jpg" alt="">
                            </div>
                            <div class="contacts__member-text__cover">
                                <h3 class="contacts__member-name">
                                    Игорь Маркин
                                </h3>
                                <p class="contacts__member-text">
                                    Соучредитель digital agency Life Media, департамент развития продукта uds.app
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-12">
                        <div class="contacts__member">
                            <div class="contacts__member-img">
                                <img src="../images/registration__banner.jpg" alt="">
                            </div>
                            <div class="contacts__member-text__cover">
                                <h3 class="contacts__member-name">
                                    Игорь Маркин
                                </h3>
                                <p class="contacts__member-text">
                                    Соучредитель digital agency Life Media, департамент развития продукта uds.app
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-12">
                        <div class="contacts__member">
                            <div class="contacts__member-img">
                                <img src="../images/speakers-img.jpg" alt="">
                            </div>
                            <div class="contacts__member-text__cover">
                                <h3 class="contacts__member-name">
                                    Игорь Маркин
                                </h3>
                                <p class="contacts__member-text">
                                    Соучредитель digital agency Life Media, департамент развития продукта uds.app
                                </p>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row contacts__team">
                    <h1 class="contacts__title title">
                        Наша команда
                    </h1>
                    <div class="col-lg-3">
                        <div class="contacts__team-item">

                            <div class="contacts__team-item-inner">
                                <h4 class="contacts__team-item__title">
                                    Игорь Маркин
                                </h4>
                                <p class="contacts__team-item__description">
                                    Генеральный директор
                                </p>
                            </div>

                            <div class="contacts__team-item__links">
                                <a class="contacts__team-item__link phone" href="tel:998999999999">
                                    +998 99 999 99 99
                                </a>

                                <a class="contacts__team-item__link mail" href="mailto:igor@mail.ru">
                                    igor@mail.ru
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="contacts__team-item">

                            <div class="contacts__team-item-inner">
                                <h4 class="contacts__team-item__title">
                                    Игорь Маркин
                                </h4>
                                <p class="contacts__team-item__description">
                                    Генеральный директор
                                </p>
                            </div>

                            <div class="contacts__team-item__links">
                                <a class="contacts__team-item__link phone" href="tel:998999999999">
                                    +998 99 999 99 99
                                </a>

                                <a class="contacts__team-item__link mail" href="mailto:igor@mail.ru">
                                    igor@mail.ru
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="contacts__team-item">

                            <div class="contacts__team-item-inner">
                                <h4 class="contacts__team-item__title">
                                    Игорь Маркин
                                </h4>
                                <p class="contacts__team-item__description">
                                    Генеральный директор
                                </p>
                            </div>

                            <div class="contacts__team-item__links">
                                <a class="contacts__team-item__link phone" href="tel:998999999999">
                                    +998 99 999 99 99
                                </a>

                                <a class="contacts__team-item__link mail" href="mailto:igor@mail.ru">
                                    igor@mail.ru
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="contacts__team-item">

                            <div class="contacts__team-item-inner">
                                <h4 class="contacts__team-item__title">
                                    Игорь Маркин
                                </h4>
                                <p class="contacts__team-item__description">
                                    Генеральный директор
                                </p>
                            </div>

                            <div class="contacts__team-item__links">
                                <a class="contacts__team-item__link phone" href="tel:998999999999">
                                    +998 99 999 99 99
                                </a>

                                <a class="contacts__team-item__link mail" href="mailto:igor@mail.ru">
                                    igor@mail.ru
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="contacts__team-item">

                            <div class="contacts__team-item-inner">
                                <h4 class="contacts__team-item__title">
                                    Игорь Маркин
                                </h4>
                                <p class="contacts__team-item__description">
                                    Генеральный директор
                                </p>
                            </div>

                            <div class="contacts__team-item__links">
                                <a class="contacts__team-item__link phone" href="tel:998999999999">
                                    +998 99 999 99 99
                                </a>

                                <a class="contacts__team-item__link mail" href="mailto:igor@mail.ru">
                                    igor@mail.ru
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="contacts__team-item">

                            <div class="contacts__team-item-inner">
                                <h4 class="contacts__team-item__title">
                                    Игорь Маркин
                                </h4>
                                <p class="contacts__team-item__description">
                                    Генеральный директор
                                </p>
                            </div>

                            <div class="contacts__team-item__links">
                                <a class="contacts__team-item__link phone" href="tel:998999999999">
                                    +998 99 999 99 99
                                </a>

                                <a class="contacts__team-item__link mail" href="mailto:igor@mail.ru">
                                    igor@mail.ru
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="contacts__team-item">

                            <div class="contacts__team-item-inner">
                                <h4 class="contacts__team-item__title">
                                    Игорь Маркин
                                </h4>
                                <p class="contacts__team-item__description">
                                    Генеральный директор
                                </p>
                            </div>

                            <div class="contacts__team-item__links">
                                <a class="contacts__team-item__link phone" href="tel:998999999999">
                                    +998 99 999 99 99
                                </a>

                                <a class="contacts__team-item__link mail" href="mailto:igor@mail.ru">
                                    igor@mail.ru
                                </a>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="contacts__team-item">

                            <div class="contacts__team-item-inner">
                                <h4 class="contacts__team-item__title">
                                    Игорь Маркин
                                </h4>
                                <p class="contacts__team-item__description">
                                    Генеральный директор
                                </p>
                            </div>

                            <div class="contacts__team-item__links">
                                <a class="contacts__team-item__link phone" href="tel:998999999999">
                                    +998 99 999 99 99
                                </a>

                                <a class="contacts__team-item__link mail" href="mailto:igor@mail.ru">
                                    igor@mail.ru
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!--=include footer.html -->