<!--=include header.html -->

<main class="main">
    <section class="exhibition__plan section__page">
        <div class="container">
            <div class="exhibition__plan-wrapper">
                <h1 class="exhibition__plan-title title">
                    план выставки
                </h1>
                <div class="exhibition__plan-inner">
                    <h2 class="exhibition__plan-inner__title">
                        <img src="images/plan-title.svg" alt="">
                    </h2>
                    <div class="exhibition__plan-inner__content">
                        <div class="exhibition__plan-img">
                            <img src="images/plan-part-1.png" alt="">
                        </div>
                        <div class="exhibition__plan-inner__info">
                            <div class="exhibition__plan-img">
                                <img src="images/plan-part-2.png" alt="">
                            </div>

                            <ul class="exhibtion__plan-inner__list">
                                <li class="exhibtion__plan-inner__list-item">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!--=include footer.html -->