<!--=include header.html -->

<main class="main">

    <section class="price section__page">
        <div class="container">
            <div class="price__wrapper">
                <h1 class="price__title title">
                    Стоимость участия
                </h1>

                <div class="row price__inner">

                    <h3 class="price__inner-title title">
                        Наполнение стенда с застройкой:
                    </h3>

                    <div class="col-lg-4">
                        <div class="price__item">
                            <div class="price__item-img">
                                <img src="galleryimages/price-img.jpg" alt="">
                            </div>
                            <h5 class="price__item-title">
                                6-12 кв.м
                            </h5>

                            <ul class="price__item-list">
                                <li class="price__item-list__item">
                                    Ковровое покрытие 6-12 кв.м.
                                </li>
                                <li class="price__item-list__item">
                                    Стены по периметру
                                </li>
                                <li class="price__item-list__item">
                                    Вешало-консоль или полка в один ряд, по внутреннему периметру стенда.
                                </li>
                                <li class="price__item-list__item">
                                    Стулья - 2 шт.
                                </li>
                                <li class="price__item-list__item">
                                    Стол - 1 шт.
                                </li>
                                <li class="price__item-list__item">
                                    Спот-бра - 3 шт.
                                </li>
                                <li class="price__item-list__item">
                                    Розетка - 1 кВт
                                </li>
                                <li class="price__item-list__item">
                                    Корзина для мусора
                                </li>
                                <li class="price__item-list__item">
                                    Фризовая доска Н=300мм, по открытой стороне стенда
                                </li>
                                <li class="price__item-list__item">
                                    Наименование компании на фризовой доске в виде оклейки полноцветной печатью длинной
                                </li>
                                <li class="price__item-list__item">
                                    1 пог. м
                                </li>
                            </ul>

                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="price__item">
                            <div class="price__item-img">
                                <img src="galleryimages/price-img.jpg" alt="">
                            </div>
                            <h5 class="price__item-title">
                                6-12 кв.м
                            </h5>

                            <ul class="price__item-list">
                                <li class="price__item-list__item">
                                    Ковровое покрытие 6-12 кв.м.
                                </li>
                                <li class="price__item-list__item">
                                    Стены по периметру
                                </li>
                                <li class="price__item-list__item">
                                    Вешало-консоль или полка в один ряд, по внутреннему периметру стенда.
                                </li>
                                <li class="price__item-list__item">
                                    Стулья - 2 шт.
                                </li>
                                <li class="price__item-list__item">
                                    Стол - 1 шт.
                                </li>
                                <li class="price__item-list__item">
                                    Спот-бра - 3 шт.
                                </li>
                                <li class="price__item-list__item">
                                    Розетка - 1 кВт
                                </li>
                                <li class="price__item-list__item">
                                    Корзина для мусора
                                </li>
                                <li class="price__item-list__item">
                                    Фризовая доска Н=300мм, по открытой стороне стенда
                                </li>
                                <li class="price__item-list__item">
                                    Наименование компании на фризовой доске в виде оклейки полноцветной печатью длинной
                                </li>
                                <li class="price__item-list__item">
                                    1 пог. м
                                </li>
                            </ul>

                        </div>
                    </div>


                    <div class="col-lg-4">
                        <div class="price__item">
                            <div class="price__item-img">
                                <img src="galleryimages/price-img.jpg" alt="">
                            </div>
                            <h5 class="price__item-title">
                                6-12 кв.м
                            </h5>

                            <ul class="price__item-list">
                                <li class="price__item-list__item">
                                    Ковровое покрытие 6-12 кв.м.
                                </li>
                                <li class="price__item-list__item">
                                    Стены по периметру
                                </li>
                                <li class="price__item-list__item">
                                    Вешало-консоль или полка в один ряд, по внутреннему периметру стенда.
                                </li>
                                <li class="price__item-list__item">
                                    Стулья - 2 шт.
                                </li>
                                <li class="price__item-list__item">
                                    Стол - 1 шт.
                                </li>
                                <li class="price__item-list__item">
                                    Спот-бра - 3 шт.
                                </li>
                                <li class="price__item-list__item">
                                    Розетка - 1 кВт
                                </li>
                                <li class="price__item-list__item">
                                    Корзина для мусора
                                </li>
                                <li class="price__item-list__item">
                                    Фризовая доска Н=300мм, по открытой стороне стенда
                                </li>
                                <li class="price__item-list__item">
                                    Наименование компании на фризовой доске в виде оклейки полноцветной печатью длинной
                                </li>
                                <li class="price__item-list__item">
                                    1 пог. м
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

                <a class="price__btn" href="#">
                    Прайс на доп.оборудование
                </a>
            </div>
        </div>
    </section>

    <section class="services">
        <div class="container">
            <div class="services__wrapper">
                <h2 class="services__title">
                    ПРОДУМАННЫЙ СЕРВИС
                </h2>

                <div class="services__inner row">
                    <div class="col-lg-4">
                        <div class="services__item">
                            <div class="services__item-number">
                                1
                            </div>
                            <p class="services__item-text">
                                Специальные условия на участие в показах и размещение в тренд-зоне
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="services__item">
                            <div class="services__item-number">
                                2
                            </div>
                            <p class="services__item-text">
                                Специальные условия на участие в показах и размещение в тренд-зоне
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="services__item">
                            <div class="services__item-number">
                                3
                            </div>
                            <p class="services__item-text">
                                Специальные условия на участие в показах и размещение в тренд-зоне
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="services__item">
                            <div class="services__item-number">
                                4
                            </div>
                            <p class="services__item-text">
                                Специальные условия на участие в показах и размещение в тренд-зоне
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="services__item">
                            <div class="services__item-number">
                                5
                            </div>
                            <p class="services__item-text">
                                Специальные условия на участие в показах и размещение в тренд-зоне
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="services__item">
                            <div class="services__item-number">
                                6
                            </div>
                            <p class="services__item-text">
                                Специальные условия на участие в показах и размещение в тренд-зоне
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="request">
        <div class="request__wrapper">
            <div class="request__container active">
                <div class="request__container-inner">
                    <h4 class="request__title">
                        ПО ЗАПРОСУ
                    </h4>
                    <p class="request__subtext">
                        Стоимость 1 кв.м. с застройкой
                    </p>
                    <p class="request__text">
                        Включает в себя набор базового оборудования
                        + рейлы/полки включены в стоимость.
                    </p>
                </div>
            </div>
            <div class="request__container light">
                <div class="request__container-inner">
                    <h4 class="request__title">
                        ПО ЗАПРОСУ
                    </h4>
                    <p class="request__subtext">
                        Стоимость 1 кв.м. с застройкой
                    </p>
                    <p class="request__text">
                        Включает в себя набор базового оборудования
                        + рейлы/полки включены в стоимость.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="book">
        <div class="container">
            <div class="book__wrapper">
                <p class="book__text">
                    Общий регистрационный взнос по запросу
                </p>
            </div>
        </div>
    </section>

    <section class="book__btn">
        <div class="conainer">
            <div class="book__btn-wrapper">
                <a class="book__btn-link" href="#">
                    Забронировать стенд
                </a>
            </div>
        </div>
    </section>

</main>

<!--=include footer.html -->