<!--=include header.html -->

<main class="main">

    <section class="exhibition">
        <div class="container">
            <h1 class="exhibition__title title">
                разделы выставки
            </h1>
        </div>

        <div class="exhibition__banner">
            <div class="container">
                <div class="exhibition__banner-content">
                    <div class="exhibition__banner-text__wrapper">
                        <p class="exhibition__banner-suptext">
                            18-20 Октября
                        </p>
                        <h2 class="exhibition__banner-title">
                            UzCharmExpo - EURASIA2023
                        </h2>
                    </div>

                    <p class="exhibition__banner-text">
                        это первая профессиональная выставка в России, которая собирает на одной площадке абсолютно все
                        направления моды: коллекции женской, мужской, детской, спортивной, молодежной и домашней одежды,
                        обувь, сумки и кожгалантерею, белье, изделия из меха и кожи, а также услуги по их продвижению:
                        компании, представляющие сервисы по маркетингу, логистике, мерчендайзингу, маркировке,
                        айдентике,
                        обучению, сертификации.
                    </p>
                </div>
            </div>
        </div>
    </section>



    <section class="exhibition__info">
        <div class="container">
            <div class="row exhibition__info-wrapper">

                <div class="col-lg-6 col-12 exhibition__info-text__cover">
                    <h3 class="exhibition__info-title">
                        Fashion Shoes
                    </h3>
                    <p class="exhibition__info-text">
                        Коллекции мужской, женской, детской обуви – на каждый день и на выход, для прогулок и для
                        занятий спортом, для домашнего отдыха и для особо торжественных случаев. Плюс продукты для ухода
                        за ней. В разделе представлены коллекции сумок и кожгалантереи, багажные принадлежности, ремни,
                        перчатки, платки и головные уборы, аксессуары и украшения – все то, что придает ассортименту
                        полноту, коллекциям глубину, а образу – завершенность.
                    </p>
                </div>

                <div class="col-lg-6 col-12 exhibition__info-img__cover">
                    <div class="exhibition__info-img">
                        <img src="images/exhibition__info.jpg" alt="info-image">
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="exhibition__info dark">
        <div class="container">
            <div class="row exhibition__info-wrapper">

                <div class="col-lg-6 col-12 exhibition__info-text__cover">
                    <h3 class="exhibition__info-title">
                        Fashion Shoes
                    </h3>
                    <p class="exhibition__info-text">
                        Коллекции мужской, женской, детской обуви – на каждый день и на выход, для прогулок и для
                        занятий спортом, для домашнего отдыха и для особо торжественных случаев. Плюс продукты для ухода
                        за ней. В разделе представлены коллекции сумок и кожгалантереи, багажные принадлежности, ремни,
                        перчатки, платки и головные уборы, аксессуары и украшения – все то, что придает ассортименту
                        полноту, коллекциям глубину, а образу – завершенность.
                    </p>
                </div>


                <div class="col-lg-6 col-12 exhibition__info-img__cover">
                    <div class="exhibition__info-img">
                        <img src="images/exhibition__info.jpg" alt="info-image">
                    </div>
                </div>

            </div>
        </div>
    </section>



    <section class="exhibition__info">
        <div class="container">
            <div class="row exhibition__info-wrapper">

                <div class="col-lg-6 col-12 exhibition__info-text__cover">
                    <h3 class="exhibition__info-title">
                        Fashion Shoes
                    </h3>
                    <p class="exhibition__info-text">
                        Коллекции мужской, женской, детской обуви – на каждый день и на выход, для прогулок и для
                        занятий спортом, для домашнего отдыха и для особо торжественных случаев. Плюс продукты для ухода
                        за ней. В разделе представлены коллекции сумок и кожгалантереи, багажные принадлежности, ремни,
                        перчатки, платки и головные уборы, аксессуары и украшения – все то, что придает ассортименту
                        полноту, коллекциям глубину, а образу – завершенность.
                    </p>
                </div>

                <div class="col-lg-6 col-12 exhibition__info-img__cover">
                    <div class="exhibition__info-img">
                        <img src="images/exhibition__info.jpg" alt="info-image">
                    </div>
                </div>

            </div>
        </div>
    </section>

</main>

<!--=include footer.html -->