<!--=include header.html -->

<main class="main">
    <section class="feedback section__page">
        <div class="container">
            <div class="feedback__wrapper">
                <h1 class="feedback__title title">
                    ОТЗЫВЫ УЧАСТНИКОВ
                </h1>

                <div class="row feedback__box">
                    <div class="col-lg-6">
                        <div class="feedback__item">
                            <a class="feedback__item-img" href="https://www.youtube.com/watch?v=wIMSU8otS-g">
                                <img src="images/feedback.jpg" alt="">

                                <div class="play"></div>
                            </a>

                            <h4 class="feedback__item-title">
                                Кристина Харитонова
                            </h4>
                            <p class="feedback__item-text">
                                Экономист по сбыту управляющей компании холдинга "Марко"
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="feedback__item">
                            <a class="feedback__item-img" href="https://www.youtube.com/watch?v=wIMSU8otS-g">
                                <img src="images/feedback.jpg" alt="">

                                <div class="play"></div>
                            </a>

                            <h4 class="feedback__item-title">
                                Кристина Харитонова
                            </h4>
                            <p class="feedback__item-text">
                                Экономист по сбыту управляющей компании холдинга "Марко"
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="feedback__item">
                            <a class="feedback__item-img" href="https://www.youtube.com/watch?v=wIMSU8otS-g">
                                <img src="images/feedback.jpg" alt="">

                                <div class="play"></div>
                            </a>

                            <h4 class="feedback__item-title">
                                Кристина Харитонова
                            </h4>
                            <p class="feedback__item-text">
                                Экономист по сбыту управляющей компании холдинга "Марко"
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="feedback__item">
                            <a class="feedback__item-img" href="https://www.youtube.com/watch?v=wIMSU8otS-g">
                                <img src="images/feedback.jpg" alt="">

                                <div class="play"></div>
                            </a>

                            <h4 class="feedback__item-title">
                                Кристина Харитонова
                            </h4>
                            <p class="feedback__item-text">
                                Экономист по сбыту управляющей компании холдинга "Марко"
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="feedback__item">
                            <a class="feedback__item-img" href="https://www.youtube.com/watch?v=wIMSU8otS-g">
                                <img src="images/feedback.jpg" alt="">

                                <div class="play"></div>
                            </a>

                            <h4 class="feedback__item-title">
                                Кристина Харитонова
                            </h4>
                            <p class="feedback__item-text">
                                Экономист по сбыту управляющей компании холдинга "Марко"
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="feedback__item">
                            <a class="feedback__item-img" href="https://www.youtube.com/watch?v=wIMSU8otS-g">
                                <img src="images/feedback.jpg" alt="">

                                <div class="play"></div>
                            </a>

                            <h4 class="feedback__item-title">
                                Кристина Харитонова
                            </h4>
                            <p class="feedback__item-text">
                                Экономист по сбыту управляющей компании холдинга "Марко"
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="feedback__item">
                            <a class="feedback__item-img" href="https://www.youtube.com/watch?v=wIMSU8otS-g">
                                <img src="images/feedback.jpg" alt="">

                                <div class="play"></div>
                            </a>

                            <h4 class="feedback__item-title">
                                Кристина Харитонова
                            </h4>
                            <p class="feedback__item-text">
                                Экономист по сбыту управляющей компании холдинга "Марко"
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="feedback__item">
                            <a class="feedback__item-img" href="https://www.youtube.com/watch?v=wIMSU8otS-g">
                                <img src="images/feedback.jpg" alt="">

                                <div class="play"></div>
                            </a>

                            <h4 class="feedback__item-title">
                                Кристина Харитонова
                            </h4>
                            <p class="feedback__item-text">
                                Экономист по сбыту управляющей компании холдинга "Марко"
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </sectin>
        <section class="gallery__subscribe">
            <div class="container">
                <div class="gallery__subscribe-wrapper">
                    <h4 class="gallery__subscribe-title">
                        Подпишитесь на нашу рассылку, чтобы быть в курсе последних новостей выставки
                    </h4>

                    <div class="gallery__subscribe-inner">
                        <input type="text" class="gallery__subscribe-input" placeholder="Ваш Email">

                        <button class="gallery__subscribe-btn">
                            Подписаться
                        </button>
                    </div>

                    <p class="gallery__subscribe-text">
                        Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c политикой
                        конфиденциальности
                    </p>
                </div>
            </div>
        </section>
</main>

<!--=include footer.html -->