<!--=include header.html -->

<main class="main">
    <section class="gallery section__page">
        <div class="container">
            <div class="gallery__tab-wrapper">
                <div class="gallery__tab">
                    <a class="gallery__tab-link active" href="#">
                        14 февраля
                    </a>

                    <a class="gallery__tab-link" href="##">
                        15 февраля
                    </a>

                    <a class="gallery__tab-link" href="##">
                        16 февраля
                    </a>

                    <a class="gallery__tab-link" href="##">
                        17 февраля
                    </a>

                    <a class="gallery__tab-link " href="##">
                        Все дни
                    </a>
                </div>
            </div>


            <div class="gallery__list active">
                <div class="row">
                    <a class="col-lg-3 gallery__list-item" href="images/news-img.jpg">
                        <img src="images/news-img.jpg" alt="">
                    </a>

                    <a class="col-lg-3 gallery__list-item" href="images/news-img.jpg">
                        <img src="images/news-img.jpg" alt="">
                    </a>

                    <a class="col-lg-3 gallery__list-item" href="images/news-img.jpg">
                        <img src="images/news-img.jpg" alt="">
                    </a>

                    <a class="col-lg-3 gallery__list-item" href="images/news-img.jpg">
                        <img src="images/news-img.jpg" alt="">
                    </a>

                    <a class="col-lg-3 gallery__list-item" href="speakers-img.jpg">
                        <img src="images/speakers-img.jpg" alt="">
                    </a>

                    <a class="col-lg-3 gallery__list-item" href="images/news-img.jpg">
                        <img src="images/news-img.jpg" alt="">
                    </a>

                    <a class="col-lg-3 gallery__list-item" href="images/news-img.jpg">
                        <img src="images/news-img.jpg" alt="">
                    </a>

                    <a class="col-lg-3 gallery__list-item" href="images/news-img.jpg">
                        <img src="images/news-img.jpg" alt="">
                    </a>
                </div>
            </div>

            <div class="gallery__list">
                <div class="row">
                    <a class="col-lg-3 gallery__list-item" href="images/news-img.jpg">
                        <img src="images/news-img.jpg" alt="">
                    </a>

                    <a class="col-lg-3 gallery__list-item" href="images/speakers-img.jpg">
                        <img src="./images/speakers-img.jpg" alt="">
                    </a>

                    <a class="col-lg-3 gallery__list-item" href="images/news-img.jpg">
                        <img src="images/news-img.jpg" alt="">
                    </a>

                    <a class="col-lg-3 gallery__list-item" href="images/news-img.jpg">
                        <img src="images/news-img.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="gallery__subscribe">
        <div class="container">
            <div class="gallery__subscribe-wrapper">
                <h4 class="gallery__subscribe-title">
                    Подпишитесь на нашу рассылку, чтобы быть в курсе последних новостей выставки
                </h4>

                <div class="gallery__subscribe-inner">
                    <input type="text" class="gallery__subscribe-input" placeholder="Ваш Email">

                    <button class="gallery__subscribe-btn">
                        Подписаться
                    </button>
                </div>

                <p class="gallery__subscribe-text">
                    Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c политикой
                    конфиденциальности
                </p>
            </div>
        </div>
    </section>
</main>

<!--=include footer.html -->