<!--=include header.html -->

<main class="main">
    <section class="hotels section__page">
        <div class="container">
            <div class="hotels-wrapper">
                <h1 class="hotels__title title">
                    ОТЕЛИ
                </h1>
                <p class="hotels__subtext">
                    ДЛЯ УЧАСТНИКОВ И ПОСЕТИТЕЛЕЙ
                </p>

                <div class="row hotels-inner">
                    <div class="col-lg-4">
                        <div class="hotels__item">
                            <div class="hotels__item-img">
                                <img src="images/hotels-img.jpg" alt="">
                            </div>

                            <h3 class="hotels__item-title">
                                Отель ibis Москва Киевская
                            </h3>
                            <p class="hotels__item-text">
                                ibis Москва Киевская располагается через дорогу от Киевского вокзала, откуда за полчаса
                                можно добраться до аэропорта "Внуково", и в 5 минутах ходьбы от метро и остановки
                                "Киевская".
                            </p>
                            <a class="hotels__item-btn" href="#">
                                Забронировать номер
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="hotels__item">
                            <div class="hotels__item-img">
                                <img src="images/hotels-img.jpg" alt="">
                            </div>

                            <h3 class="hotels__item-title">
                                Отель ibis Москва Киевская
                            </h3>
                            <p class="hotels__item-text">
                                ibis Москва Киевская располагается через дорогу от Киевского вокзала, откуда за полчаса
                                можно добраться до аэропорта "Внуково", и в 5 минутах ходьбы от метро и остановки
                                "Киевская".
                            </p>
                            <a class="hotels__item-btn" href="#">
                                Забронировать номер
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="hotels__item">
                            <div class="hotels__item-img">
                                <img src="images/hotels-img.jpg" alt="">
                            </div>

                            <h3 class="hotels__item-title">
                                Отель ibis Москва Киевская
                            </h3>
                            <p class="hotels__item-text">
                                ibis Москва Киевская располагается через дорогу от Киевского вокзала, откуда за полчаса
                                можно добраться до аэропорта "Внуково", и в 5 минутах ходьбы от метро и остановки
                                "Киевская".
                            </p>
                            <a class="hotels__item-btn" href="#">
                                Забронировать номер
                            </a>
                        </div>
                    </div>
                </div>


                <div class="hotels__info">
                    <h1 class="hotels__info-title title">
                        Для получения подробной информации,
                        звоните или пишите:
                    </h1>
                    <div class="hotels__info-contacts">
                        <div class="footer__contact-list-item">
                            <a class="footer__contact-list-text" href="tel:998999999999">+998 99 999 99 99</a>
                        </div>

                        <div class="footer__contact-list-item mail">
                            <a class="footer__contact-list-text" href="mailto:pochta@mail.ru">pochta@mail.ru</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!--=include footer.html -->