<!--=include header.html -->

<main class="main">
    <section class="banner">
        <div class="banner__img">
            <img src="images/banner.jpg" alt="banner">
        </div>

        <div class="info__item">
            <div class="info__date">
                <h5 class="info__date-title">
                    18-19-20
                </h5>
                <h5 class="info__date-title">
                    ОКТЯБРЯ
                </h5>
                <p class="info__date-text">
                    УЗЭКСПОЦЕНТР
                </p>
                <p class="info__date-text">
                    ПАВИЛЬОН 1,2
                </p>
            </div>
        </div>
    </section>

    <section class="info">
        <div class="container">

            <div class="info__wrapper">
                <a class="info__item" href="#">
                    <div class=" info__icon">
                        <img src="images/book-stand-icon.svg" alt="">
                    </div>
                    <p class="info__text">
                        Забронировать стенд
                    </p>
                </a>
                <a class="info__item" href="#">
                    <div class="info__icon">
                        <img src="images/visit-exhibition-icon.svg" alt="">
                    </div>
                    <p class="info__text">
                        Посетить выставку
                    </p>
                </a>
                <a class="info__item" href="#">
                    <div class="info__icon">
                        <img src="images/members-icon.svg" alt="">
                    </div>
                    <p class="info__text">
                        Участники
                    </p>
                </a>
                <a class="info__item" href="#">
                    <div class="info__icon">
                        <img src="images/business-program.svg" alt="">
                    </div>
                    <p class="info__text">
                        Деловая
                        программа
                    </p>
                </a>
                <a class="info__item" href="#">
                    <div class="info__icon">
                        <img src="images/press-realeses.svg" alt="">
                    </div>
                    <p class="info__text">
                        Пресс релизы
                    </p>
                </a>
                <div class="info__item info__item-banner">
                    <div class="info__date">
                        <h5 class="info__date-title">
                            18-19-20
                        </h5>
                        <h5 class="info__date-title">
                            ОКТЯБРЯ
                        </h5>
                        <p class="info__date-text">
                            УЗЭКСПОЦЕНТР
                        </p>
                        <p class="info__date-text">
                            ПАВИЛЬОН 1,2
                        </p>
                    </div>
                </div>
                <a class="accociation__logo info__item" href="#">
                    <img src="images/association-logo.png" alt="association logo">
                </a>
            </div>

    </section>
</main>

<!--=include footer.html -->