<!--=include header.html -->


<main class="main">

    <section class="location">
        <div class="container">
            <h1 class="location__title title">
                МЕСТО ПРОВЕДЕНИЯ
            </h1>
        </div>

        <div class="location__banner">
            <div class="container">
                <div class="location__banner-wrapper">
                    <h2 class="location__banner-title">
                        Выставка открыта для посетителей:
                    </h2>
                    <div class="location__banner-schedule">

                        <div class="location__banner-schedule__item">
                            <span class="location__banner-calendar">
                                18-20 Октября
                            </span>
                            <span class="location__banner-date__cover">
                                <span class="location__banner-day">
                                    Вт-Чт
                                </span>
                                <span class="location__banner-time">
                                    10:00 - 18:00
                                </span>
                            </span>
                        </div>

                        <div class="location__banner-schedule__item">
                            <span class="location__banner-date__cover">
                                <span class="location__banner-day">
                                    Вт-Чт
                                </span>
                                <span class="location__banner-time">
                                    10:00 - 18:00
                                </span>
                            </span>
                            <span class="location__banner-date__cover">
                                <span class="location__banner-day">
                                    Вт-Чт
                                </span>
                                <span class="location__banner-time">
                                    10:00 - 18:00
                                </span>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="location__hero">
        <div class="location__hero-img">
            <h1 class="location__hero-title">
                Международный выставочный центр
            </h1>
        </div>
    </section>



    <section class="location__info">
        <div class="container">
            <div class="row location__info-wrapper">

                <div class="col-lg-6 col-12 location__info-text__cover">
                    <h3 class="location__info-text__title">
                        Общая территория «Крокус Экспо» сегодня – это более 1 000 000 м2, на которых расположены три
                        объединенные крытыми переходами павильона, выставочные и конференц-залы, закрытые и открытые
                        бесплатные парковки, таможенный пост и гостиница.Рядом расположена станция метро «Мякинино».
                    </h3>
                    <p class="location__info-text">
                        Коллекции мужской, женской, детской обуви – на каждый день и на выход, для прогулок и для
                        занятий спортом, для домашнего отдыха и для особо торжественных случаев. Плюс продукты для ухода
                        за ней. В разделе представлены коллекции сумок и кожгалантереи, багажные принадлежности, ремни,
                        перчатки, платки и головные уборы, аксессуары и украшения – все то, что придает ассортименту
                        полноту, коллекциям глубину, а образу – завершенность.
                    </p>
                </div>

                <div class="col-lg-6 col-12 ">
                    <div class="row location__info-statistics">
                        <div class="col-lg-6 col-12 location__info-statistics-item">
                            <span class="location__info-statistics-number">
                                366 100 кв.м
                            </span>
                            <span class="location__info-statistics-text">
                                Закрытая выставочная площадка
                            </span>
                        </div>

                        <div class="col-lg-6 col-12 location__info-statistics-item">
                            <span class="location__info-statistics-number">
                                219 000 кв.м
                            </span>
                            <span class="location__info-statistics-text">
                                Открытая выставочная площадка
                            </span>
                        </div>

                        <div class="col-lg-6 col-12 location__info-statistics-item">
                            <span class="location__info-statistics-number">
                                35 500
                            </span>
                            <span class="location__info-statistics-text">
                                Машино-мест
                                БЕСПЛАТНАЯ ПАРКОВКА
                            </span>
                        </div>

                        <div class="col-lg-6 col-12 location__info-statistics-item">
                            <span class="location__info-statistics-number">
                                19
                            </span>
                            <span class="location__info-statistics-text">
                                Выставочных залов
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="location__gallery">
        <div class="location__gallery-wrapper">
            <div class="location__gallery-img">
                <img src="images/location-gallery-1.jpg" alt="gallery image">
            </div>
            <div class="location__gallery-img">
                <img src="images/location-gallery-2.jpg" alt="gallery image">
            </div>
            <div class="location__gallery-img">
                <img src="images/location-gallery-3.jpg" alt="gallery image">
            </div>
            <div class="location__gallery-img">
                <img src="images/location-gallery-1.jpg" alt="gallery image">
            </div>
            <div class="location__gallery-img">
                <img src="images/location-gallery-2.jpg" alt="gallery image">
            </div>
            <div class="location__gallery-img">
                <img src="images/location-gallery-3.jpg" alt="gallery image">
            </div>
        </div>
        <div class="container">
            <div class="location__gallery-btn__wrapper">
                <a class="location__gallery-btn" href="#">
                    Посетить выставку
                </a>
            </div>
        </div>
    </section>

</main>


<!--=include footer.html -->