<!--=include header.html -->

<main class="main">
    <section class="members__list section__page">
        <div class="container">

            <div class="members__list-wrapper">

                <h1 class="members__list-title title">
                    список участников
                </h1>

                <table class="members__list-table">
                    <thead>
                        <tr>
                            <th>
                                Компания
                            </th>
                            <th>
                                Основная область деятельности
                            </th>
                            <th>
                                Страна
                            </th>
                            <th>
                                Стенд№
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="members__list-table__inner">
                                    <img src="images/members-list-img.png" alt="">

                                    KAZ MINERALS
                                </span>
                            </td>
                            <td>
                                Текстиль
                            </td>
                            <td>
                                Узбекистан
                            </td>
                            <td>
                                1
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="members__list-table__inner">
                                    <img src="images/members-list-img.png" alt="">

                                    KAZ MINERALS
                                </span>
                            </td>
                            <td>
                                Текстиль
                            </td>
                            <td>
                                Узбекистан
                            </td>
                            <td>
                                1
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="members__list-table__inner">
                                    <img src="images/members-list-img.png" alt="">

                                    KAZ MINERALS
                                </span>
                            </td>
                            <td>
                                Текстиль
                            </td>
                            <td>
                                Узбекистан
                            </td>
                            <td>
                                1
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </section>
</main>

<!--=include footer.html -->