<!--=include header.html -->

<main class="main">
    <section class="news section__page">
        <div class="container">
            <div class=" speaker__wrapper">
                <h1 class="news__title title">
                    СПИКЕРЫ БИЗНЕС-ФОРУМА
                </h1>
                <div class="row news__box">
                    <div class="col-lg-3 col-12">
                        <a class="news__item" href="##">
                            <div class="news__item-img">
                                <img src="images/news-img.jpg" alt="">
                            </div>

                            <h5 class="news__item-name">
                                Игорь Маркин
                            </h5>

                            <p class="news__item-text">
                                Соучредитель digital agency Life Media, департамент развития продукта uds.app
                            </p>

                            <span class="news__date">
                                05.07.2023
                            </span>
                        </a>
                    </div>

                    <div class="col-lg-3 col-12">
                        <a class="news__item" href="##">
                            <div class="news__item-img">
                                <img src="images/news-img.jpg" alt="">
                            </div>

                            <h5 class="news__item-name">
                                Игорь Маркин
                            </h5>

                            <p class="news__item-text">
                                Соучредитель digital agency Life Media, департамент развития продукта uds.app
                            </p>

                            <span class="news__date">
                                05.07.2023
                            </span>
                        </a>
                    </div>

                    <div class="col-lg-3 col-12">
                        <a class="news__item" href="##">
                            <div class="news__item-img">
                                <img src="images/news-img.jpg" alt="">
                            </div>

                            <h5 class="news__item-name">
                                Игорь Маркин
                            </h5>

                            <p class="news__item-text">
                                Соучредитель digital agency Life Media, департамент развития продукта uds.app
                            </p>

                            <span class="news__date">
                                05.07.2023
                            </span>
                        </a>
                    </div>

                    <div class="col-lg-3 col-12">
                        <a class="news__item" href="##">
                            <div class="news__item-img">
                                <img src="images/news-img.jpg" alt="">
                            </div>

                            <h5 class="news__item-name">
                                Игорь Маркин
                            </h5>

                            <p class="news__item-text">
                                Соучредитель digital agency Life Media, департамент развития продукта uds.app
                            </p>

                            <span class="news__date">
                                05.07.2023
                            </span>
                        </a>
                    </div>

                    <div class="col-lg-3 col-12">
                        <a class="news__item" href="##">
                            <div class="news__item-img">
                                <img src="images/news-img.jpg" alt="">
                            </div>

                            <h5 class="news__item-name">
                                Игорь Маркин
                            </h5>

                            <p class="news__item-text">
                                Соучредитель digital agency Life Media, департамент развития продукта uds.app
                            </p>

                            <span class="news__date">
                                05.07.2023
                            </span>
                        </a>
                    </div>

                    <div class="col-lg-3 col-12">
                        <a class="news__item" href="##">
                            <div class="news__item-img">
                                <img src="images/news-img.jpg" alt="">
                            </div>

                            <h5 class="news__item-name">
                                Игорь Маркин
                            </h5>

                            <p class="news__item-text">
                                Соучредитель digital agency Life Media, департамент развития продукта uds.app
                            </p>

                            <span class="news__date">
                                05.07.2023
                            </span>
                        </a>
                    </div>

                    <div class="col-lg-3 col-12">
                        <a class="news__item" href="##">
                            <div class="news__item-img">
                                <img src="images/news-img.jpg" alt="">
                            </div>

                            <h5 class="news__item-name">
                                Игорь Маркин
                            </h5>

                            <p class="news__item-text">
                                Соучредитель digital agency Life Media, департамент развития продукта uds.app
                            </p>

                            <span class="news__date">
                                05.07.2023
                            </span>
                        </a>
                    </div>

                    <div class="col-lg-3 col-12">
                        <a class="news__item" href="##">
                            <div class="news__item-img">
                                <img src="images/news-img.jpg" alt="">
                            </div>

                            <h5 class="news__item-name">
                                Игорь Маркин
                            </h5>

                            <p class="news__item-text">
                                Соучредитель digital agency Life Media, департамент развития продукта uds.app
                            </p>

                            <span class="news__date">
                                05.07.2023
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!--=include footer.html -->