<!--=include header.html -->

<main class="main">

    <section class="opportunity section__page">
        <div class="container">
            <h1 class="opportunity__title title">
                РЕКЛАМНЫЕ И СПОНСОРСКИЕ ВОЗМОЖНОСТИ
            </h1>

            <div class="opportunity__inner">
                <h2 class="opportunity__inner-title">
                    Спонсорское участие рассчитано на экспонентов, которые заинтересованы:
                </h2>
                <div class="row opportunity__inner-box">
                    <div class="col-lg-4">
                        <div class="opportunity__inner-item">
                            <div class="opportunity__inner-img">
                                <img src="images/opportunity-icon.svg" alt="">
                            </div>

                            <p class="opportunity__inner-text">
                                Повысить и укрепить имидж своей компании;
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="opportunity__inner-item">
                            <div class="opportunity__inner-img">
                                <img src="images/opportunity-icon.svg" alt="">
                            </div>

                            <p class="opportunity__inner-text">
                                Повысить и укрепить имидж своей компании;
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="opportunity__inner-item">
                            <div class="opportunity__inner-img">
                                <img src="images/opportunity-icon.svg" alt="">
                            </div>

                            <p class="opportunity__inner-text">
                                Повысить и укрепить имидж своей компании;
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="opportunity__inner-item">
                            <div class="opportunity__inner-img">
                                <img src="images/opportunity-icon.svg" alt="">
                            </div>

                            <p class="opportunity__inner-text">
                                Повысить и укрепить имидж своей компании;
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="opportunity__inner-item">
                            <div class="opportunity__inner-img">
                                <img src="images/opportunity-icon.svg" alt="">
                            </div>

                            <p class="opportunity__inner-text">
                                Повысить и укрепить имидж своей компании;
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="opportunity__inner-item">
                            <div class="opportunity__inner-img">
                                <img src="images/opportunity-icon.svg" alt="">
                            </div>

                            <p class="opportunity__inner-text">
                                Повысить и укрепить имидж своей компании;
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="opportunity__banner">
        <div class="container">
            <div class="opportunity__banner-wrapper">
                <h1 class="opportunity__banner-title">
                    Рекламно-информационные пакеты Выставок:
                </h1>
            </div>
        </div>
    </section>

    <section class="opportunity__accardion">
        <div class="container">
            <div class="opportunity__accardion-wrapper">

                <div class="opportunity__accardion-cover">
                    <a class="opportunity__accardion-item accardion-item" href="##">
                        Генеральный партнер выставки
                    </a>
                    <div class="opportunity__accardion-content accardion-content">
                        UNO
                    </div>
                </div>

                <div class="opportunity__accardion-cover">
                    <a class="opportunity__accardion-item accardion-item" href="##">
                        Генеральный партнер выставки
                    </a>

                    <div class="opportunity__accardion-content accardion-content">
                        UNO
                    </div>
                </div>

                <div class="opportunity__accardion-cover">
                    <a class="opportunity__accardion-item accardion-item" href="##">
                        Генеральный партнер выставки
                    </a>
                    <div class="opportunity__accardion-content accardion-content">
                        UNO
                    </div>
                </div>

            </div>
        </div>
    </section>

</main>

<!--=include footer.html -->