<!--=include header.html -->

<main class="main">
    <section class="partners section__page">
        <div class="container">
            <div class="partners__wrapper">
                <h1 class="partners__title title">
                    ОТЗЫВЫ УЧАСТНИКОВ
                </h1>

                <div class="row partners__box">
                    <div class="col-lg-3">
                        <a class="partners__item" href="##">
                            <span class="partners__item-img">
                                <img src="images/shoesworld.png" alt="">
                            </span>

                            <p class="partners__item-text">
                                Справочник обувных компаний и магазинов
                            </p>
                        </a>
                    </div>

                    <div class="col-lg-3">
                        <a class="partners__item" href="##">
                            <span class="partners__item-img">
                                <img src="images/fashion-star.png" alt="">
                            </span>

                            <p class="partners__item-text">
                                Международная профессиональная выставка
                            </p>
                        </a>
                    </div>

                    <div class="col-lg-3">
                        <a class="partners__item" href="##">
                            <span class="partners__item-img">
                                <img src="images/fashion-style.png" alt="">
                            </span>

                            <p class="partners__item-text">
                                Выставка одежды, обувии аксессуаров
                            </p>
                        </a>
                    </div>

                    <div class="col-lg-3">
                        <a class="partners__item" href="##">
                            <span class="partners__item-img">
                                <img src="images/buyer-star.png" alt="">
                            </span>

                            <p class="partners__item-text">
                                Платформа оптовых онлайн-заказов
                            </p>
                        </a>
                    </div>


                    <div class="col-lg-3">
                        <a class="partners__item" href="##">
                            <span class="partners__item-img">
                                <img src="images/logo-of.png" alt="">
                            </span>

                            <p class="partners__item-text">
                                Справочник обувных компаний и магазинов
                            </p>
                        </a>
                    </div>

                    <div class="col-lg-3">
                        <a class="partners__item" href="##">
                            <span class="partners__item-img">
                                <img src="images/fashion-star.png" alt="">
                            </span>

                            <p class="partners__item-text">
                                Международная профессиональная выставка
                            </p>
                        </a>
                    </div>

                    <div class="col-lg-3">
                        <a class="partners__item" href="##">
                            <span class="partners__item-img">
                                <img src="images/fashion-style.png" alt="">
                            </span>

                            <p class="partners__item-text">
                                Выставка одежды, обувии аксессуаров
                            </p>
                        </a>
                    </div>

                    <div class="col-lg-3">
                        <a class="partners__item" href="##">
                            <span class="partners__item-img">
                                <img src="images/buyer-star.png" alt="">
                            </span>

                            <p class="partners__item-text">
                                Платформа оптовых онлайн-заказов
                            </p>
                        </a>
                    </div>


                    <div class="col-lg-3">
                        <a class="partners__item" href="##">
                            <span class="partners__item-img">
                                <img src="images/shoesworld.png" alt="">
                            </span>

                            <p class="partners__item-text">
                                Справочник обувных компаний и магазинов
                            </p>
                        </a>
                    </div>

                    <div class="col-lg-3">
                        <a class="partners__item" href="##">
                            <span class="partners__item-img">
                                <img src="images/fashion-star.png" alt="">
                            </span>

                            <p class="partners__item-text">
                                Международная профессиональная выставка
                            </p>
                        </a>
                    </div>

                    <div class="col-lg-3">
                        <a class="partners__item" href="##">
                            <span class="partners__item-img">
                                <img src="images/fashion-style.png" alt="">
                            </span>

                            <p class="partners__item-text">
                                Выставка одежды, обувии аксессуаров
                            </p>
                        </a>
                    </div>

                    <div class="col-lg-3">
                        <a class="partners__item" href="##">
                            <span class="partners__item-img">
                                <img src="images/buyer-star.png" alt="">
                            </span>

                            <p class="partners__item-text">
                                Платформа оптовых онлайн-заказов
                            </p>
                        </a>
                    </div>

                    <div class="col-lg-3">
                        <a class="partners__item" href="##">
                            <span class="partners__item-img">
                                <img src="images/shoesworld.png" alt="">
                            </span>

                            <p class="partners__item-text">
                                Справочник обувных компаний и магазинов
                            </p>
                        </a>
                    </div>

                    <div class="col-lg-3">
                        <a class="partners__item" href="##">
                            <span class="partners__item-img">
                                <img src="images/fashion-star.png" alt="">
                            </span>

                            <p class="partners__item-text">
                                Международная профессиональная выставка
                            </p>
                        </a>
                    </div>

                    <div class="col-lg-3">
                        <a class="partners__item" href="##">
                            <span class="partners__item-img">
                                <img src="images/fashion-style.png" alt="">
                            </span>

                            <p class="partners__item-text">
                                Выставка одежды, обувии аксессуаров
                            </p>
                        </a>
                    </div>

                    <div class="col-lg-3">
                        <a class="partners__item" href="##">
                            <span class="partners__item-img">
                                <img src="images/buyer-star.png" alt="">
                            </span>

                            <p class="partners__item-text">
                                Платформа оптовых онлайн-заказов
                            </p>
                        </a>
                    </div>

                </div>
            </div>
    </section>
</main>

<!--=include footer.html -->