<!--=include header.html -->

<main class="main">
    <section class="post__release section__page">
        <div class="container">
            <div class="post__release-wrappper">
                <h1 class="post__release-title title">ПОСТ-РЕЛИЗ</h1>


                <div class="post__release-content">
                    <h4 class="post__release-content__title">
                        Организаторы подвели итоги международной выставки Fashion Style Russia
                    </h4>

                    <p class="post__release-content__text">
                        Свои экспозиции представили такие бренды, как «Котофей», Marko, Shoeslel, Rttkids, «Русская
                        кожа», Верхневолжский кожевенный завод, Alza, «Русский мех», Oemen, Keddo, «Макро-М», «Хром»,
                        Midinblu, Liqlo, Lemongrass, Asur, Riconte и другие. Также были организованы национальные
                        экспозиции Узбекистана, Белоруссии, Турции и Китая.
                    </p>

                    <p class="post__release-content__text">
                        Впервые на Fashion Style Russia был представлен объединённый стенд компаний из Донецкой Народной
                        Республики. В числе брендов новых регионов России свою продукцию показали компании «Скифтекс»,
                        «Спецодежда и униформа», «Кожевенный салон Людмилы Линченко», «Шубы от дизайнера Татьяны
                        Лапшиной».
                        Для поддержки небольших развивающихся российских компаний организаторы выставки предусмотрели
                        особые условия участия, организовав единую экспозицию локальных брендов, которая располагалась
                        рядом с «витриной» группы компаний Fashion Hub Russia - стендом российских дизайнеров, уже
                        представленных в шоуруме FHub. Такое расположение позволило получить синергетический эффект в
                        поддержке и продвижении локальных торговых марок.
                    </p>

                    <p class="post__release-content__text">
                        Особое место в 2023 году занимала деловая программа выставки. Она была сконцентрирована вокруг
                        актуальных и острых для отрасли вопросов, таких как необходимость поиска новых поставщиков
                        комплектующих, новых логистических путей, восстановления производственных цепочек. В рамках
                        бизнес-форума состоялось 30 деловых мероприятий, на них перед более чем 2000 участников
                        выступило в общей
                        сложности 105 спикеров. Большой интерес посетителей вызвали открывающая экспертная сессия «Как
                        быть
                        модными в российских брендах» и открытая сессия Российского союза кожевников и обувщиков
                        «Обсуждение состояния кожевенно-обувного рынка и перспектив его развития».
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="post__release-info">
        <div class="container">
            <div class="post__release-info__wrapper">
                <div class="post__release-info__item">
                    КОНТАКТЫ:

                    <p class="post__release-info__subtext">
                        Пресс-офис международной выставки Fashion Style Russia:press@fashionexpo.ru
                    </p>
                </div>

                <button class="post__release-info__btn">
                    Скачать PDF
                </button>
            </div>
        </div>
    </section>
</main>

<!--=include footer.html -->