<!--=include header.html -->

<main class="main">
    <section class="press__release section__page">
        <div class="container">
            <div class="press__release-wrappper">
                <h1 class="press__release-title title">ПРЕСС-РЕЛИЗ</h1>


                <div class="press__release-content">
                    <h4 class="press__release-content__title">
                        В Москве состоится международная выставка Fashion Style
                        Russia.
                    </h4>

                    <p class="press__release-content__text">
                        С 05 по 08 сентября в Москве, в выставочном центре «Крокус Экспо», пройдет Fashion Style Russia
                        – Международная выставка легкой промышленности: одежда, обувь, аксессуары, кожа, комплектация
                        для производства и услуги. Выставка является уникальным международным событием в России, которое
                        объединяет в себе все отрасли легкой промышленности и сегменты моды. Она представляет собой
                        важную отраслевую площадку, на которой проходят сезонные презентации трендов и новинок. Это
                        мероприятие предназначено для специалистов в сфере производства, импорта и ритейла товаров
                        легкой промышленности, которые нацелены на установление новых партнерских отношений и обмене
                        опытом.
                    </p>

                    <p class="press__release-content__text">
                        Организаторы мероприятия – Российский союз текстильной и легкой промышленности (СОЮЗЛЕГПРОМ),
                        Российский союз кожевников и обувщиков, компания Shoesstar. Инициатива трех ведущих организаций
                        - СОЮЗЛЕГПРОМа, РСКО и Shoesstar - направлена на создание и продвижение единой отраслевой
                        выставки легкой промышленности на международном уровне. Целью этой инициативы является развитие
                        экосистемы национального дизайна и объединение всех специалистов индустрии моды и легкой
                        промышленности, включая производителей сырья, материалов и комплектующих, производителей одежды,
                        обуви и аксессуаров, а также представителей ритейла разного формата и масштаба.Выставка Fashion
                        Style Russia пройдет уже в третий раз. В свой весенний сезон 2023 года выставка
                        продемонстрировала впечатляющие результаты: более 150 российских и зарубежных брендов
                        представили свои линейки товаров на площади более 4 700 кв.м. Это привлекло профессиональную
                        целевую аудиторию – 5190 посетителей. Бизнес-форум Fashion Style Russia, прошедший в рамках
                        выставки, также вызвал большой интерес. На нем присутствовало более 2000 профессионалов
                        индустрии моды. В рамках выставки было организовано 30 мероприятий разного формата, на которых
                        выступили 105 спикеров. В зоне Fashion Style Подиум было представлено более 30 показов байерских
                        коллекций.На протяжении всех дней работы выставки, участники и посетители имели возможность
                        решить свои кадровые вопросы в Центре карьеры Fashion Style Russia. Руководители компаний,
                        индивидуальные предприниматели и байеры высоко оценили эффективность проведенного мероприятия.
                        Осенний сезон выставки 2023 года будет фокусироваться на ключевых вопросах текстильной и легкой
                        промышленности, включая поиск новых поставщиков, создание логистических путей и восстановление
                        производственных цепочек. Обсуждение этих вопросов позволит расширить географию продаж,
                        сформировать политику защиты интересов индустрии и адаптировать мировые тенденции к нуждам
                        отечественного рынка. Также будет продвигаться использование стандартов ESG и устойчивых
                        подходов в дизайне.
                    </p>

                    <p class="press__release-content__text">
                        В ходе деловой программы весеннего сезона было достигнуто соглашение о проведении осенью, в
                        рамках выставки Fashion Style Russia, мероприятий Fashion Hub Russia, платформы, объединяющей
                        профессионалов российской fashion индустрии, легкой промышленности и творческих отраслей.
                        Уникальный проект Fashion Hub education вновь предоставит возможность участникам выставки
                        посетить лекции и семинары, а также принять участие в интенсивах от лучших специалистов из
                        России в области моды.Мероприятия, планируемые в рамках программы, будут проводиться с участием
                        представителей профильных министерств и ведомств федерального и регионального уровней, чтобы
                        способствовать постоянному диалогу бизнеса, общественных организаций и власти в вопросах
                        поддержки российского бизнеса в сфере легкой промышленности.На выставке будет работать Trend
                        Corner – центральная площадка для демонстрации топовых моделей коллекций экспонентов. На
                        «Fashion Style Подиуме» будут проведены показы новых коллекций и прямые эфиры с блогерами. Для
                        байеров будут проведены специальные тренд-экскурсии с примерами подбора продаваемых луков. Если
                        вы интересуетесь логистикой, маркетингом, обучением и новыми технологиями, то вы сможете узнать
                        об этом в зоне «Услуги & Консалтинг».
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="press__release-banner">
        <div class="container">
            <div class="press__release-banner__wrapper">
                <div class="press__release-banner__item">
                    <h2 class="press__release-banner__title">
                        Время проведения:
                    </h2>
                    <p class="press__release-banner__subtext">
                        5–8 сентября 2023 года.
                    </p>
                </div>
                <div class="press__release-banner__item">
                    <h2 class="press__release-banner__title">
                        Место проведения:
                    </h2>
                    <p class="press__release-banner__subtext">
                        Московская область, г. Красногорск, ул. Международная, д. 18, МВЦ «Крокус-Экспо» (павильон 1),
                        ст. м. «Мякинино».
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="press__release-info">
        <div class="container">
            <div class="press__release-info__wrapper">
                <div class="press__release-info__item">
                    Получить дополнительную информацию о выставке FASHION STYLE RUSSIA:+7 (903) 597-11-78,
                    marketing@fashionexpo.ru,+7 (495) 799-06-89, info@fashionexpo.ru
                </div>

                <button class="press__release-info__btn">
                    Скачать PDF
                </button>
            </div>
        </div>
    </section>
</main>

<!--=include footer.html -->