<!--=include header.html -->


<main class="main">
    <section class="buyers section__page">
        <div class="container">
            <h1 class="buyers__title title">
                РЕГИСТРАЦИЯ БАЙЕРОВ
            </h1>
            <div id="message">Ваш запрос принят.</div>
            <div class="row">
                <form class="row buyers__form" action="">
                    <label class="buyers__form-item col-lg-4" for="surname">
                        Фамилия
                        <input type="text" id="surname">
                    </label>
                    <label class="buyers__form-item col-lg-4" for="name">
                        Имя
                        <input type="text" id="name">
                    </label>
                    <label class="buyers__form-item col-lg-4" for="second-name">
                        Отчество
                        <input type="text" id="second-name">
                    </label>

                    <label class="buyers__form-item col-lg-4" for="phone">
                        Телефон
                        <input type="text" id="phone">
                    </label>
                    <label class="buyers__form-item col-lg-4" for="emial">
                        Email
                        <input type="text" id="emial">
                    </label>
                    <label class="buyers__form-item col-lg-4" for="company-name">
                        Юридическое название компании
                        <input type="text" id="company-name">
                    </label>

                    <label class="buyers__form-item col-lg-4" for="TIN">
                        ИНН
                        <input type="text" id="TIN">
                    </label>
                    <label class="buyers__form-item col-lg-4" for="address">
                        Фактический адрес
                        <input type="text" id="address">
                    </label>
                    <label class="buyers__form-item col-lg-4" for="website">
                        Сайт
                        <input type="text" id="website">
                    </label>

                    <label class="buyers__form-item col-lg-4" for="format">
                        Формат предприятия
                        <select name="format" id="format">
                            <option value="1">
                                One to Two
                            </option>
                            <option value="2">
                                Two to Three
                            </option>
                            <option value="3">
                                Three to Four
                            </option>
                        </select>
                    </label>
                    <label class="buyers__form-item col-lg-4" for="market-quantity">
                        Количество магазинов
                        <select name="market-quantity" id="market-quantity">
                            <option value="1">
                                One to Two
                            </option>
                            <option value="2">
                                Two to Three
                            </option>
                            <option value="3">
                                Three to Four
                            </option>
                        </select>
                    </label>
                    <label class="buyers__form-item col-lg-4" for="regions">
                        Регионы присутствия
                        <input type="text" id="regions">
                    </label>

                    <label class="buyers__form-item col-lg-4" for="interesting-section">
                        Какой раздел выставки вам интересен
                        <select name="interesting-section" id="interesting-section">
                            <option value="1">
                                One to Two
                            </option>
                            <option value="2">
                                Two to Three
                            </option>
                            <option value="3">
                                Three to Four
                            </option>
                        </select>
                    </label>
                    <label class="buyers__form-item col-lg-4" for="purchase-volume">
                        Годовой объем закупок
                        <select name="purchase-volume" id="purchase-volume">
                            <option value="1">
                                One to Two
                            </option>
                            <option value="2">
                                Two to Three
                            </option>
                            <option value="3">
                                Three to Four
                            </option>
                        </select>
                    </label>
                    <label class="buyers__form-item col-lg-4" for="brands">
                        Марки и бренды с которыми работаете
                        <input type="text" id="brands">
                    </label>

                    <label class="buyers__form-item col-lg-4" for="desired-brands">
                        Бренды каких стран вы бы хотели видеть на выставке
                        <select name="desired-brands" id="desired-brands">
                            <option value="1">
                                One to Two
                            </option>
                            <option value="2">
                                Two to Three
                            </option>
                            <option value="3">
                                Three to Four
                            </option>
                        </select>
                    </label>
                    <label class="buyers__form-item col-lg-4" for="about-us">
                        Откуда вы узнали о нас
                        <select name="about-us" id="about-us">
                            <option value="1">
                                One to Two
                            </option>
                            <option value="2">
                                Two to Three
                            </option>
                            <option value="3">
                                Three to Four
                            </option>
                        </select>
                    </label>

                    <label class="buyers__form-verify col-lg-12" for="verify">
                        <input type="checkbox" id="verify">
                        Нажимая кнопку «Зарегистрироваться», я даю свое согласие на обработку моих персональных данных
                    </label>

                    <div class="buyers__form-btn__cover col-lg-12">
                        <button class="buyers__form-btn">
                            Зарегестрироваться
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="buyers__advantages">
        <div class="container">
            <div class="buyers__advantages-wrapper">
                <h2 class="buyers__advantages-title">
                    Участники байерской программы получают:
                </h2>

                <div class="buyers__advantages-box row">
                    <div class="col-lg-3">
                        <div class="buyers__advantages-item">
                            <div class="buyers__advantages-item__img">
                                <img src="images/buyers-icon.svg" alt="">
                            </div>
                            <p class="buyers__advantages-item__text">
                                Льготное размещение в гостинице-партнере выставки
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="buyers__advantages-item">
                            <div class="buyers__advantages-item__img">
                                <img src="images/buyers-icon.svg" alt="">
                            </div>
                            <p class="buyers__advantages-item__text">
                                Льготное размещение в гостинице-партнере выставки
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="buyers__advantages-item">
                            <div class="buyers__advantages-item__img">
                                <img src="images/buyers-icon.svg" alt="">
                            </div>
                            <p class="buyers__advantages-item__text">
                                Льготное размещение в гостинице-партнере выставки
                            </p>
                        </div>
                    </div>


                    <div class="col-lg-3">
                        <div class="buyers__advantages-item">
                            <div class="buyers__advantages-item__img">
                                <img src="images/buyers-icon.svg" alt="">
                            </div>
                            <p class="buyers__advantages-item__text">
                                Льготное размещение в гостинице-партнере выставки
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>


<!--=include footer.html -->