<!--=include header.html -->


<main class="main">
    <section class="registration">
        <div class="container">
            <h1 class="registration__title title">
                Регистрация посетителя
            </h1>

            <div class="row">
                <div class="col-lg-6 col-12">
                    <form class="row registration__form" action="">
                        <label class="registration__form-item col-lg-6" for="name">
                            <span> Имя <span class="registration__asterisk">*</span></span>
                            <input id="name" type="text">
                        </label>
                        <label class="registration__form-item col-lg-6" for="forename">
                            <span> Фамилия <span class="registration__asterisk">*</span></span>
                            <input id="forename" type="text">
                        </label>

                        <label class="registration__form-item col-lg-12 col-12" for="company">
                            <span> Ваша компания (организация) </span>
                            <input id="company" type="text">
                        </label>

                        <label class="registration__form-item col-lg-6" for="job_title">
                            <span> Должность <span class="registration__asterisk">*</span></span>
                            <select name="job_title" id="job_title">
                                <option value="1">
                                    One to Two
                                </option>
                                <option value="2">
                                    Two to Three
                                </option>
                                <option value="3">
                                    Three to Four
                                </option>
                            </select>
                        </label>
                        <label class="registration__form-item col-lg-6" for="email">
                            <span> Адрес e-mail <span class="registration__asterisk">*</span></span>
                            <input id="email" type="text">
                        </label>

                        <label class="registration__form-item col-lg-6" for="phone">
                            <span> Номер телефона с кодом <span class="registration__asterisk">*</span></span>
                            <input id="phone" type="text">
                        </label>
                        <label class="registration__form-item col-lg-6" for="website">
                            <span> Сайт <span class="registration__asterisk">*</span></span>
                            <input id="website" type="text">
                        </label>

                        <label class="registration__form-item col-lg-6" for="job_title">
                            <span> Откуда узнали о выставке <span class="registration__asterisk">*</span></span>
                            <select name="job_title" id="job_title">
                                <option value="1">
                                    One to Two
                                </option>
                                <option value="2">
                                    Two to Three
                                </option>
                                <option value="3">
                                    Three to Four
                                </option>
                            </select>
                        </label>

                        <label class="registration__form-item col-lg-12 col-12" for="approve">
                            <span>
                                <input id="approve" type="checkbox">
                                Обязуюсь соблюдать меры безопасности на выставке
                                <span class="registration__asterisk">*</span>
                            </span>
                        </label>

                        <button class="col-12 registration__form-btn">Отправить заявку</button>
                    </form>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="registration__banner-wrapper">

                        <div class="registration__banner-img">
                            <img src="images/registration__banner.jpg" alt="banner">
                        </div>

                        <div class="registration__banner-text">
                            <h1 class="registration__banner-title">
                                UzCharmExpo - EURASIA2023
                            </h1>
                            <p class="registration__banner-subtext">18-20 Октября</p>
                            <a class="registration__banner-link" href="#">
                                Uzexposentr, 1-2- Pavilion
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


<!--=include footer.html -->