<!--=include header.html -->

<main class="main">
    <section class="partakers section__page">
        <div class="container">
            <h1 class="partakers__title title">
                ЗАЯВКА НА УЧАСТИЕ В ВЫСТАВКЕ
            </h1>
            <div class="row">
                <div id="partakers__registration-container" class="col-lg-12 col-12">
                    <div class="row">
                        <form class="row registration__form" action="">
                            <label class="col-lg-4 col-12 partakers__item" for="company">
                                Название компании
                                <input id="company" type="text">
                            </label>
                            <label class="col-lg-4 col-12 partakers__item" for="address">
                                Адрес
                                <input id="address" type="text">
                            </label>
                            <label class="col-lg-4 col-12 partakers__item" for="email">
                                E-mail
                                <input id="email" type="text">
                            </label>
                            <label class="col-lg-4 col-12 partakers__item" for="phone">
                                Телефон
                                <input id="phone" type="text">
                            </label>
                            <label class="col-lg-4 col-12 partakers__item" for="fax">
                                Факс
                                <input id="fax" type="text">
                            </label>
                            <label class="col-lg-4 col-12 partakers__item" for="manager">
                                Ответственный менеджер
                                <input id="manager" type="text">
                            </label>
                        </form>

                        <button id="partakers__btn" class="col-lg-4 partakers__btn">
                            Выберите выставочный стенд
                        </button>
                    </div>

                    <div class="registration__details" id="details-table">
                        <h2 class="registration__details-title title">
                            Дополнительное оборудование
                        </h2>


                        <div class="partakers__accardion-wrapper accardion-wrapper">

                            <div class="partakers__accardion-cover">
                                <a class="partakers__accardion-item accardion-item" href="##">
                                    Мебель (с учетом монтажа/демонтажа)
                                </a>
                                <div class="partakers__accardion-content accardion-content">
                                    <table class="registration__details-table">
                                        <thead>
                                            <tr>
                                                <th>Наименование</th>
                                                <th>Единица измерения</th>
                                                <th>Цена в USD с НДС 12%</th>
                                                <th>Кол-во</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Стул для переговоров</td>
                                                <td>штука</td>
                                                <td>8</td>
                                                <td>
                                                    <span class="counter" data-price="8">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Стул для переговоров</td>
                                                <td>день</td>
                                                <td>3</td>
                                                <td>
                                                    <span class="counter" data-price="3">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Стул для переговоров, никелированный (белый)</td>
                                                <td>штука</td>
                                                <td>23</td>
                                                <td>
                                                    <span class="counter" data-price="23">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Барный стул, черный</td>
                                                <td>штука</td>
                                                <td>23</td>
                                                <td>
                                                    <span class="counter" data-price="23">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Барный стул, нестандартный</td>
                                                <td>штука</td>
                                                <td>46</td>
                                                <td>
                                                    <span class="counter" data-price="46">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Стол, маленький 70x70 см</td>
                                                <td>штука</td>
                                                <td>11</td>
                                                <td>
                                                    <span class="counter" data-price="11">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Стол, средний 70 x 120 cм</td>
                                                <td>штука</td>
                                                <td>27</td>
                                                <td>
                                                    <span class="counter" data-price="27">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Стол, круглый диаметром 70 cм</td>
                                                <td>штука</td>
                                                <td>22</td>
                                                <td>
                                                    <span class="counter" data-price="22">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Информационная стойка 50 х 100 х 100 см</td>
                                                <td>штука</td>
                                                <td>75</td>
                                                <td>
                                                    <span class="counter" data-price="75">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Информационная стойка 50 х 50 х 100 см</td>
                                                <td>штука</td>
                                                <td>46</td>
                                                <td>
                                                    <span class="counter" data-price="46">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Информационная стойка радиальная</td>
                                                <td>штука</td>
                                                <td>92</td>
                                                <td>
                                                    <span class="counter" data-price="92">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Информ. стойка, нестандартная на заказ</td>
                                                <td>штука</td>
                                                <td></td>
                                                <td>
                                                    <span class="counter" data-price="0">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Буклетница напольная</td>
                                                <td>штука</td>
                                                <td>55</td>
                                                <td>
                                                    <span class="counter" data-price="55">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Вешалка для гардероба</td>
                                                <td>штука</td>
                                                <td>2</td>
                                                <td>
                                                    <span class="counter" data-price="2">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Шкаф архивный, низкий (50 x 100 x 70 см)</td>
                                                <td>штука</td>
                                                <td>53</td>
                                                <td>
                                                    <span class="counter" data-price="53">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Шкаф архивный, высокий (50 x 100 x 100см)</td>
                                                <td>штука</td>
                                                <td>64</td>
                                                <td>
                                                    <span class="counter" data-price="64">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Стеллаж из 5 полок (50 x 100 x 200 см)</td>
                                                <td>штука</td>
                                                <td>81</td>
                                                <td>
                                                    <span class="counter" data-price="81">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Стеллаж из 5 полок (50 x 50 x 200 см)</td>
                                                <td>штука</td>
                                                <td>61</td>
                                                <td>
                                                    <span class="counter" data-price="61">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Настенная полка (30 x 100 см)</td>
                                                <td>штука</td>
                                                <td>15</td>
                                                <td>
                                                    <span class="counter" data-price="15">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Подиум, малый (50 x 100 x 70см)</td>
                                                <td>штука</td>
                                                <td>26</td>
                                                <td>
                                                    <span class="counter" data-price="26">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Подиум, большой (100 x 100 x 70 cм)</td>
                                                <td>штука</td>
                                                <td>46</td>
                                                <td>
                                                    <span class="counter" data-price="46">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Подиум радиальный R=50 см, малый</td>
                                                <td>штука</td>
                                                <td>46</td>
                                                <td>
                                                    <span class="counter" data-price="46">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Подиум радиальный R=100 см, большой</td>
                                                <td>штука</td>
                                                <td>64</td>
                                                <td>
                                                    <span class="counter" data-price="64">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Подиум для демонстрации мод: h=10см</td>
                                                <td>Квадратный метр</td>
                                                <td>15</td>
                                                <td>
                                                    <span class="counter" data-price="15">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Подиум для демонстрации мод: h=30см</td>
                                                <td>Квадратный метр</td>
                                                <td>31</td>
                                                <td>
                                                    <span class="counter" data-price="31">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Подиум для демонстрации мод: h=50 см</td>
                                                <td>Квадратный метр</td>
                                                <td>38</td>
                                                <td>
                                                    <span class="counter" data-price="38">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Витрина, низкая (50 x 100 x 100 см, без подсвета)</td>
                                                <td>штука</td>
                                                <td>92</td>
                                                <td>
                                                    <span class="counter" data-price="92">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Витрина, средняя (50 x 50 x 200 см, без подсвета)</td>
                                                <td>штука</td>
                                                <td>107</td>
                                                <td>
                                                    <span class="counter" data-price="107">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Витрина, высокая, без подсвета (50x100x200 см)</td>
                                                <td>штука</td>
                                                <td>150</td>
                                                <td>
                                                    <span class="counter" data-price="150">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Замок реечный для витрин, архивных шкафов, барных стоек и инфостоек
                                                </td>
                                                <td>штука</td>
                                                <td>15</td>
                                                <td>
                                                    <span class="counter" data-price="15">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Вешалка для одежды, настенная реечная</td>
                                                <td>штука</td>
                                                <td>25</td>
                                                <td>
                                                    <span class="counter" data-price="25">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Вешалка для одежды, напольная</td>
                                                <td>штука</td>
                                                <td>46</td>
                                                <td>
                                                    <span class="counter" data-price="46">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Стойка под телевизор низкая (50 x 100 x 70 cм)</td>
                                                <td>штука</td>
                                                <td>31</td>
                                                <td>
                                                    <span class="counter" data-price="31">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Стойка под телевизор высокая (50x100x100 cм)</td>
                                                <td>штука</td>
                                                <td>38</td>
                                                <td>
                                                    <span class="counter" data-price="38">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Урна для мусора</td>
                                                <td>штука</td>
                                                <td>3</td>
                                                <td>
                                                    <span class="counter" data-price="3">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Стол для президиума</td>
                                                <td>штука</td>
                                                <td>253</td>
                                                <td>
                                                    <span class="counter" data-price="253">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Трибуна</td>
                                                <td>штука</td>
                                                <td>127</td>
                                                <td>
                                                    <span class="counter" data-price="127">
                                                        <button class="calc-btn substraction">-</button>
                                                        <span class="quantity">0</span>
                                                        <button class="calc-btn addition">+</button>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="partakers__accardion-cover">
                                <a class="partakers__accardion-item accardion-item" href="##">
                                    Кухонное оборудование (с учетом монтажа/демонтажа)
                                </a>

                                <div class="partakers__accardion-content accardion-content">
                                    UNO
                                </div>
                            </div>

                            <div class="partakers__accardion-cover">
                                <a class="partakers__accardion-item accardion-item" href="##">
                                    Электроприборы, осветительные приборы (с учетом монтажа/демонтажа)
                                </a>
                                <div class="partakers__accardion-content accardion-content">
                                    UNO
                                </div>
                            </div>

                            <div class="partakers__accardion-cover">
                                <a class="partakers__accardion-item accardion-item" href="##">
                                    Художественное оформление (с учетом монтажа/демонтажа)
                                </a>
                                <div class="partakers__accardion-content accardion-content">
                                    UNO
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12" id="price-tag__container">
                    <div class="row">
                        <div class="price-tag">

                            <div class="price-tag__wrapper">
                                <h5 class="price-tag__title">
                                    Оборудованная стандартная выставочная площадь
                                </h5>
                                <div class="price-tag__item">
                                    <div class="">
                                        Павильон: <span class="price-tag__number">№ 1</span>
                                    </div>
                                    <div class="">
                                        Цена за 1м²: <span class="price-tag__number">320 USD</span>
                                    </div>
                                    <div class="">
                                        Площадь: <span class="price-tag__number">170м²</span>
                                    </div>
                                </div>
                                <div class="price-tag__item">
                                    <h5 class="price-tag__title inner">
                                        Площадь включает:
                                    </h5>
                                    <p class="price-tag__info">
                                        Баннер по периметру, напольное ковровое покрытие(серый цвет), мебель (1 стол
                                        70х70,
                                        2 стула) на каждые 9 кв.м, освещение, электричество (1 розетка 220В на 9 кв.м),
                                        урна(1шт на 9 кв.м).
                                    </p>
                                </div>
                                <div class="price-tag__item">
                                    <h5 class="price-tag__title inner">
                                        Регистрационный взнос
                                        <span>
                                            300$
                                        </span>
                                    </h5>
                                    <p class="price-tag__info">
                                        Регистрационный взнос включает аккредитацию, презентацию или размещение ролика
                                        на
                                        ЛЭД экранах и обед в первый день выставки.
                                    </p>
                                </div>

                                <div class="price-tag__item">
                                    <h5 class="price-tag__title inner">
                                        Итого:
                                        <span id="result">
                                            0
                                        </span>
                                    </h5>
                                </div>
                            </div>

                            <button class="submit">
                                Отправить заявку
                            </button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <script>

    </script>
</main>

<!--=include footer.html -->