<!--=include header.html -->

<main class="main">
    <section class="schedule section__page">
        <div class="container">
            <h1 class="schedule__title title">
                РАСПИСАНИЕ БИЗНЕС-ФОРУМА
            </h1>

            <div class="schedule__tab-wrapper">
                <div class="schedule__tab">
                    <a class="schedule__tab-link active" href="#">
                        14 февраля
                    </a>

                    <a class="schedule__tab-link" href="##">
                        15 февраля
                    </a>

                    <a class="schedule__tab-link" href="##">
                        16 февраля
                    </a>

                    <a class="schedule__tab-link" href="##">
                        17 февраля
                    </a>

                    <a class="schedule__tab-link" href="##">
                        18 февраля
                    </a>

                    <a class="schedule__tab-link" href="##" id="all">
                        Все дни
                    </a>
                </div>
            </div>


            <ul class="schedule__list active">
                <div class="schedule__list-top">
                    <h3 class="schedule__list-title">
                        Площадка «Подиум»
                    </h3>

                    <span class="schedule__list-date">
                        14 февраля
                    </span>
                </div>

                <li class="schedule__list-item">
                    <span class="schedule__list-time">
                        11:00
                    </span>

                    <div class="schedule__list-item-text__cover">
                        <p class="schedule__list-text">
                            Торжественная церемония открытия выставки
                            Показ Игоря Гуляева
                        </p>
                    </div>
                </li>

                <li class="schedule__list-item">
                    <span class="schedule__list-time">
                        13:15
                    </span>


                    <div class="schedule__list-item-text__cover">
                        <p class="schedule__list-text">
                            Показ бренда ООО «Русский мех»
                        </p>
                    </div>
                </li>

                <li class="schedule__list-item">
                    <span class="schedule__list-time">
                        13:25
                    </span>


                    <div class="schedule__list-item-text__cover">
                        <p class="schedule__list-text">
                            Показ бренда LaLetki - Талышханова Лала и Ривкина Елена
                        </p>
                    </div>
                </li>

                <li class="schedule__list-item">
                    <span class="schedule__list-time">
                        13:25
                    </span>
                    <div class="schedule__list-item-text__cover">
                        <p class="schedule__list-text">
                            Показ бренда LaLetki - Талышханова Лала и Ривкина Елена
                        </p>
                    </div>
                </li>

                <li class="schedule__list-item">
                    <span class="schedule__list-time">
                        13:25
                    </span>

                    <div class="schedule__list-item-text__cover">
                        <p class="schedule__list-text">
                            Показ бренда LaLetki - Талышханова Лала и Ривкина Елена
                        </p>
                    </div>
                </li>

                <li class="schedule__list-item">
                    <span class="schedule__list-time">
                        13:25
                    </span>
                    <div class="schedule__list-item-text__cover">
                        <b>
                            Открывающая экспертная сессия «Как быть модными в российских брендах», c участием комиссии
                            РСПП РФ по текстильной и легкой промышленности.
                        </b>
                        <p class="schedule__list-text">
                            Ведущая: Наталья Семенова, fashion-аналитик, эксперт в области психологии потребления,
                            основатель Высшей школы имиджа и стиля и тренд-бюро BONO MODO.
                        </p>
                    </div>
                </li>
            </ul>


            <ul class="schedule__list">
                <div class="schedule__list-top">
                    <h3 class="schedule__list-title">
                        Площадка «Подиум» 2
                    </h3>

                    <span class="schedule__list-date">
                        14 февраля
                    </span>
                </div>

                <li class="schedule__list-item">
                    <span class="schedule__list-time">
                        11:00
                    </span>

                    <div class="schedule__list-item-text__cover">
                        <p class="schedule__list-text">
                            Торжественная церемония открытия выставки
                            Показ Игоря Гуляева
                        </p>
                    </div>
                </li>

                <li class="schedule__list-item">
                    <span class="schedule__list-time">
                        13:15
                    </span>


                    <div class="schedule__list-item-text__cover">
                        <p class="schedule__list-text">
                            Показ бренда ООО «Русский мех»
                        </p>
                    </div>
                </li>

                <li class="schedule__list-item">
                    <span class="schedule__list-time">
                        13:25
                    </span>


                    <div class="schedule__list-item-text__cover">
                        <p class="schedule__list-text">
                            Показ бренда LaLetki - Талышханова Лала и Ривкина Елена
                        </p>
                    </div>
                </li>

                <li class="schedule__list-item">
                    <span class="schedule__list-time">
                        13:25
                    </span>
                    <div class="schedule__list-item-text__cover">
                        <p class="schedule__list-text">
                            Показ бренда LaLetki - Талышханова Лала и Ривкина Елена
                        </p>
                    </div>
                </li>

                <li class="schedule__list-item">
                    <span class="schedule__list-time">
                        13:25
                    </span>

                    <div class="schedule__list-item-text__cover">
                        <p class="schedule__list-text">
                            Показ бренда LaLetki - Талышханова Лала и Ривкина Елена
                        </p>
                    </div>
                </li>

                <li class="schedule__list-item">
                    <span class="schedule__list-time">
                        13:25
                    </span>
                    <div class="schedule__list-item-text__cover">
                        <b>
                            Открывающая экспертная сессия «Как быть модными в российских брендах», c участием комиссии
                            РСПП РФ по текстильной и легкой промышленности.
                        </b>
                        <p class="schedule__list-text">
                            Ведущая: Наталья Семенова, fashion-аналитик, эксперт в области психологии потребления,
                            основатель Высшей школы имиджа и стиля и тренд-бюро BONO MODO.
                        </p>
                    </div>
                </li>
            </ul>

            <ul class="schedule__list">
                <div class="schedule__list-top">
                    <h3 class="schedule__list-title">
                        Площадка «Подиум» 3
                    </h3>

                    <span class="schedule__list-date">
                        14 февраля
                    </span>
                </div>

                <li class="schedule__list-item">
                    <span class="schedule__list-time">
                        11:00
                    </span>

                    <div class="schedule__list-item-text__cover">
                        <p class="schedule__list-text">
                            Торжественная церемония открытия выставки
                            Показ Игоря Гуляева
                        </p>
                    </div>
                </li>

                <li class="schedule__list-item">
                    <span class="schedule__list-time">
                        13:15
                    </span>


                    <div class="schedule__list-item-text__cover">
                        <p class="schedule__list-text">
                            Показ бренда ООО «Русский мех»
                        </p>
                    </div>
                </li>

                <li class="schedule__list-item">
                    <span class="schedule__list-time">
                        13:25
                    </span>


                    <div class="schedule__list-item-text__cover">
                        <p class="schedule__list-text">
                            Показ бренда LaLetki - Талышханова Лала и Ривкина Елена
                        </p>
                    </div>
                </li>

                <li class="schedule__list-item">
                    <span class="schedule__list-time">
                        13:25
                    </span>
                    <div class="schedule__list-item-text__cover">
                        <p class="schedule__list-text">
                            Показ бренда LaLetki - Талышханова Лала и Ривкина Елена
                        </p>
                    </div>
                </li>

                <li class="schedule__list-item">
                    <span class="schedule__list-time">
                        13:25
                    </span>

                    <div class="schedule__list-item-text__cover">
                        <p class="schedule__list-text">
                            Показ бренда LaLetki - Талышханова Лала и Ривкина Елена
                        </p>
                    </div>
                </li>

                <li class="schedule__list-item">
                    <span class="schedule__list-time">
                        13:25
                    </span>
                    <div class="schedule__list-item-text__cover">
                        <b>
                            Открывающая экспертная сессия «Как быть модными в российских брендах», c участием комиссии
                            РСПП РФ по текстильной и легкой промышленности.
                        </b>
                        <p class="schedule__list-text">
                            Ведущая: Наталья Семенова, fashion-аналитик, эксперт в области психологии потребления,
                            основатель Высшей школы имиджа и стиля и тренд-бюро BONO MODO.
                        </p>
                    </div>
                </li>
            </ul>

            <ul class="schedule__list">
                <div class="schedule__list-top">
                    <h3 class="schedule__list-title">
                        Площадка «Подиум» 4
                    </h3>

                    <span class="schedule__list-date">
                        14 февраля
                    </span>
                </div>

                <li class="schedule__list-item">
                    <span class="schedule__list-time">
                        11:00
                    </span>

                    <div class="schedule__list-item-text__cover">
                        <p class="schedule__list-text">
                            Торжественная церемония открытия выставки
                            Показ Игоря Гуляева
                        </p>
                    </div>
                </li>

                <li class="schedule__list-item">
                    <span class="schedule__list-time">
                        13:15
                    </span>


                    <div class="schedule__list-item-text__cover">
                        <p class="schedule__list-text">
                            Показ бренда ООО «Русский мех»
                        </p>
                    </div>
                </li>

                <li class="schedule__list-item">
                    <span class="schedule__list-time">
                        13:25
                    </span>


                    <div class="schedule__list-item-text__cover">
                        <p class="schedule__list-text">
                            Показ бренда LaLetki - Талышханова Лала и Ривкина Елена
                        </p>
                    </div>
                </li>

                <li class="schedule__list-item">
                    <span class="schedule__list-time">
                        13:25
                    </span>
                    <div class="schedule__list-item-text__cover">
                        <p class="schedule__list-text">
                            Показ бренда LaLetki - Талышханова Лала и Ривкина Елена
                        </p>
                    </div>
                </li>

                <li class="schedule__list-item">
                    <span class="schedule__list-time">
                        13:25
                    </span>

                    <div class="schedule__list-item-text__cover">
                        <p class="schedule__list-text">
                            Показ бренда LaLetki - Талышханова Лала и Ривкина Елена
                        </p>
                    </div>
                </li>

                <li class="schedule__list-item">
                    <span class="schedule__list-time">
                        13:25
                    </span>
                    <div class="schedule__list-item-text__cover">
                        <b>
                            Открывающая экспертная сессия «Как быть модными в российских брендах», c участием комиссии
                            РСПП РФ по текстильной и легкой промышленности.
                        </b>
                        <p class="schedule__list-text">
                            Ведущая: Наталья Семенова, fashion-аналитик, эксперт в области психологии потребления,
                            основатель Высшей школы имиджа и стиля и тренд-бюро BONO MODO.
                        </p>
                    </div>
                </li>
            </ul>

            <ul class="schedule__list">
                <div class="schedule__list-top">
                    <h3 class="schedule__list-title">
                        Площадка «Подиум» 5
                    </h3>

                    <span class="schedule__list-date">
                        14 февраля
                    </span>
                </div>

                <li class="schedule__list-item">
                    <span class="schedule__list-time">
                        11:00
                    </span>

                    <div class="schedule__list-item-text__cover">
                        <p class="schedule__list-text">
                            Торжественная церемония открытия выставки
                            Показ Игоря Гуляева
                        </p>
                    </div>
                </li>

                <li class="schedule__list-item">
                    <span class="schedule__list-time">
                        13:15
                    </span>


                    <div class="schedule__list-item-text__cover">
                        <p class="schedule__list-text">
                            Показ бренда ООО «Русский мех»
                        </p>
                    </div>
                </li>

                <li class="schedule__list-item">
                    <span class="schedule__list-time">
                        13:25
                    </span>


                    <div class="schedule__list-item-text__cover">
                        <p class="schedule__list-text">
                            Показ бренда LaLetki - Талышханова Лала и Ривкина Елена
                        </p>
                    </div>
                </li>

                <li class="schedule__list-item">
                    <span class="schedule__list-time">
                        13:25
                    </span>
                    <div class="schedule__list-item-text__cover">
                        <p class="schedule__list-text">
                            Показ бренда LaLetki - Талышханова Лала и Ривкина Елена
                        </p>
                    </div>
                </li>

                <li class="schedule__list-item">
                    <span class="schedule__list-time">
                        13:25
                    </span>

                    <div class="schedule__list-item-text__cover">
                        <p class="schedule__list-text">
                            Показ бренда LaLetki - Талышханова Лала и Ривкина Елена
                        </p>
                    </div>
                </li>

                <li class="schedule__list-item">
                    <span class="schedule__list-time">
                        13:25
                    </span>
                    <div class="schedule__list-item-text__cover">
                        <b>
                            Открывающая экспертная сессия «Как быть модными в российских брендах», c участием комиссии
                            РСПП РФ по текстильной и легкой промышленности.
                        </b>
                        <p class="schedule__list-text">
                            Ведущая: Наталья Семенова, fashion-аналитик, эксперт в области психологии потребления,
                            основатель Высшей школы имиджа и стиля и тренд-бюро BONO MODO.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</main>

<!--=include footer.html -->