<!--=include header.html -->

<main class="main">
    <section class="speakers section__page">
        <div class="container">
            <div class=" speaker__wrapper">
                <h1 class="speakers__title title">
                    СПИКЕРЫ БИЗНЕС-ФОРУМА
                </h1>
                <div class="row speakers__box">
                    <div class="col-lg-3 col-12">
                        <div class="speakers__item">
                            <div class="speakers__item-img">
                                <img src="images/speakers-img.jpg" alt="">
                            </div>

                            <h5 class="speakers__item-name">
                                Игорь Маркин
                            </h5>

                            <p class="speakers__item-text">
                                Соучредитель digital agency Life Media, департамент развития продукта uds.app
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-12">
                        <div class="speakers__item">
                            <div class="speakers__item-img">
                                <img src="images/speakers-img.jpg" alt="">
                            </div>

                            <h5 class="speakers__item-name">
                                Игорь Маркин
                            </h5>

                            <p class="speakers__item-text">
                                Соучредитель digital agency Life Media, департамент развития продукта uds.app
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-12">
                        <div class="speakers__item">
                            <div class="speakers__item-img">
                                <img src="images/speakers-img.jpg" alt="">
                            </div>

                            <h5 class="speakers__item-name">
                                Игорь Маркин
                            </h5>

                            <p class="speakers__item-text">
                                Соучредитель digital agency Life Media, департамент развития продукта uds.app
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-12">
                        <div class="speakers__item">
                            <div class="speakers__item-img">
                                <img src="images/speakers-img.jpg" alt="">
                            </div>

                            <h5 class="speakers__item-name">
                                Игорь Маркин
                            </h5>

                            <p class="speakers__item-text">
                                Соучредитель digital agency Life Media, департамент развития продукта uds.app
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-12">
                        <div class="speakers__item">
                            <div class="speakers__item-img">
                                <img src="images/speakers-img.jpg" alt="">
                            </div>

                            <h5 class="speakers__item-name">
                                Игорь Маркин
                            </h5>

                            <p class="speakers__item-text">
                                Соучредитель digital agency Life Media, департамент развития продукта uds.app
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-12">
                        <div class="speakers__item">
                            <div class="speakers__item-img">
                                <img src="images/speakers-img.jpg" alt="">
                            </div>

                            <h5 class="speakers__item-name">
                                Игорь Маркин
                            </h5>

                            <p class="speakers__item-text">
                                Соучредитель digital agency Life Media, департамент развития продукта uds.app
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-12">
                        <div class="speakers__item">
                            <div class="speakers__item-img">
                                <img src="images/speakers-img.jpg" alt="">
                            </div>

                            <h5 class="speakers__item-name">
                                Игорь Маркин
                            </h5>

                            <p class="speakers__item-text">
                                Соучредитель digital agency Life Media, департамент развития продукта uds.app
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-12">
                        <div class="speakers__item">
                            <div class="speakers__item-img">
                                <img src="images/speakers-img.jpg" alt="">
                            </div>

                            <h5 class="speakers__item-name">
                                Игорь Маркин
                            </h5>

                            <p class="speakers__item-text">
                                Соучредитель digital agency Life Media, департамент развития продукта uds.app
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!--=include footer.html -->