<!--=include header.html -->

<main class="main">
    <section class="visitor__registration section__page">
        <div class="container">
            <div class="visitor__registration-wrapper">
                <h1 class="visitor__registration-title title">
                    РЕГИСТРАЦИЯ ПОСЕТИТЕЛЕЙ
                </h1>

                <a class="visitor__registration-btn" href="#">
                    Получите электронный билет
                </a>
            </div>
        </div>
    </section>
</main>

<!--=include footer.html -->